---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "3047-2068-7602"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-17T01:28:50.274Z"
                  updated_at: "2020-01-17T01:28:50.274Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/952ebd01-ff8b-47bb-b541-8108e3ba490f"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "8004-3026-7212"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-17T01:28:50.268Z"
                  updated_at: "2020-01-17T01:28:50.268Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/952ebd01-ff8b-47bb-b541-8108e3ba490f"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "7240-8854-5241"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-17T01:28:51.002Z"
                  updated_at: "2020-01-17T01:28:51.002Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/bbd0ddfb-d04d-4ab6-b096-4e2c9643e84e"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "6171-9378-9130"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-17T01:28:50.996Z"
                  updated_at: "2020-01-17T01:28:50.996Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/bbd0ddfb-d04d-4ab6-b096-4e2c9643e84e"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "1746-7187-3253"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-17T01:28:51.213Z"
              updated_at: "2020-01-17T01:28:51.213Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/80fd72f9-1b76-4bf3-9325-c9f966ae114a"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/4"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "2032-0724-9902"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-17T01:28:51.298Z"
              updated_at: "2020-01-17T01:28:51.298Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/5813a0ab-2530-442a-b65b-1e9475dcd66b"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/6"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "3328-2430-2919"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-17T01:28:51.644Z"
              updated_at: "2020-01-17T01:28:51.701Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/6ca95b36-bd52-4e22-969b-4815d5dd223e"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/10"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "5036-4536-2359"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-17T01:28:51.494Z"
              updated_at: "2020-01-17T01:28:51.551Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a495af8f-383d-44dd-9306-49b424701608"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/8"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2020-01-17T01:28:52.005Z"
                  updated_at: "2020-01-17T01:28:52.005Z"
                  starts_at: "2020-01-16T01:28:52.000Z"
                  ends_at: "2020-01-17T01:28:52.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-16 01:28:52\
                    \ UTC - 2020-01-17 01:28:52 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2020-01-17T01:28:52.001Z"
                  updated_at: "2020-01-17T01:28:52.001Z"
                  starts_at: "2020-01-16T01:28:51.000Z"
                  ends_at: "2020-01-17T01:28:51.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-16 01:28:51\
                    \ UTC - 2020-01-17 01:28:51 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2020-01-17T01:28:52.359Z"
              updated_at: "2020-01-17T01:28:52.359Z"
              starts_at: "2020-01-16T01:28:52.000Z"
              ends_at: "2020-01-17T01:28:52.000Z"
              filename: "Activity Report - dev-account-36 - 2020-01-16 01:28:52 UTC\
                \ - 2020-01-17 01:28:52 UTC"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/20"
                download:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2020-01-17T01:28:52.509Z"
                  updated_at: "2020-01-17T01:28:52.509Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2020-01-17T01:28:52.504Z"
                  updated_at: "2020-01-17T01:28:52.504Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22/apps?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2020-01-17T01:28:52.745Z"
              updated_at: "2020-01-17T01:28:52.745Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/3"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/24"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2020-01-17T01:28:52.862Z"
                  updated_at: "2020-01-17T01:28:52.862Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/5"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2020-01-17T01:28:52.858Z"
                  updated_at: "2020-01-17T01:28:52.858Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2020-01-17T01:28:52.972Z"
              updated_at: "2020-01-17T01:28:52.972Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/6"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/27"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2020-01-17T01:28:53.309Z"
              updated_at: "2020-01-17T01:28:53.360Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "0a8d27413a90cf3a4253965fd85a44003dc938ce"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "f1cd8e10476aafa77c17d5bbb533237338af7997"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-17T01:28:53.313Z"
                  updated_at: "2020-01-17T01:28:53.313Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/2"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/10"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/2/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/10"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/31"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/2"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/2"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2020-01-17T01:28:53.121Z"
              updated_at: "2020-01-17T01:28:53.197Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "74687d0dad277196fd98cfb78d27d86be5e0980b"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "c4c1d2d50ef17a0d44dc9998a60c9dc85c60f1bf"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-17T01:28:53.144Z"
                  updated_at: "2020-01-17T01:28:53.144Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/1"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/8"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/1/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/8"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/29"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/1"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/1"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2020-01-17T01:28:53.635Z"
                  updated_at: "2020-01-17T01:28:53.635Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2020-01-17T01:28:53.661Z"
                      updated_at: "2020-01-17T01:28:53.661Z"
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/services/1"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/36"
                        app:
                          href: "https://api-bob.aptible-sandbox.com/apps/14"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/services/1/operations"
                        releases:
                          href: "https://api-bob.aptible-sandbox.com/services/1/releases"
                        vhosts:
                          href: "https://api-bob.aptible-sandbox.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/14"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/35"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.289Z"
                  updated_at: "2020-01-17T01:28:54.289Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.286Z"
                  updated_at: "2020-01-17T01:28:54.286Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38/backups?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.523Z"
                  updated_at: "2020-01-17T01:28:54.523Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.521Z"
                  updated_at: "2020-01-17T01:28:54.521Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/databases/2/backups?page=1"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.702Z"
                  updated_at: "2020-01-17T01:28:54.702Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-17T01:28:54.697Z"
                      updated_at: "2020-01-17T01:28:54.697Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/7"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2020-01-17T01:28:54.699Z"
                  updated_at: "2020-01-17T01:28:54.699Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-17T01:28:54.697Z"
                      updated_at: "2020-01-17T01:28:54.697Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/6"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2020-01-17T01:28:54.863Z"
              updated_at: "2020-01-17T01:28:54.863Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/9"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/44"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/6"
                copies:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/copies"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                    MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMdPJQgmteSzj9TCPaJ3zkmw\n\
                    R4XvbpRLDePty/5vXDhHtqwZ7Beq3X5yW5MkuSKo2qeN+ZVD7n1YEyqwNMPJT7kC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBADW4FEXTz6BBlaX6Bh4qbm/pVeR6m9Qq6hsORllmHPmtKW0Qgd8altfis/J1\n\
                    qcbxAZ5Nw7AmsNTjOkDL9ip0xDs=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMTcwMTI4NTVaFw0yMjAxMTcwMTI4NTVaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAL3fAgy4TiKC4rXIckmkft/FYYWl1LTtDfjaq0cr5o3JD5echhAsDsSS\n\
                    a1NzBca1PTinOS66Skd9peTjpDPjDRECAwEAATANBgkqhkiG9w0BAQsFAANBAF+W\n\
                    P3hsPjYHTSOMAhF/o4PfVE8oF7QRmVX+8MJmFafNN4zA2F0Yyu5GfhKH1PAwuv36\n\
                    4+vyAtQFgPE9JI76VcU=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOQIBAAJBAMdPJQgmteSzj9TCPaJ3zkmwR4XvbpRLDePty/5vXDhHtqwZ7Beq\n\
                    3X5yW5MkuSKo2qeN+ZVD7n1YEyqwNMPJT7kCAwEAAQJAZkfXWTeEYLlFNon310hk\n\
                    NKyiB7m3paJennmKFihPyxEabHLUFFzoSkSzDfhgMnAykXBS0kP1x9XrP3efmebn\n\
                    gQIhAOYe1WvAwAJw47CuvbdkMoW4jzBEgGgjw/Q7OmmSZZGHAiEA3blBFlQb1xnh\n\
                    gRkr9AV2Sy2SmwQbZSIyi2h/DofPZL8CIFC24e7QhciVZheTwvFvUJU8neS1MkDU\n\
                    wqeImr1q3vtDAiAOZ9TkwH42kYXnP11ts1UmOUXHMJMfFQO3rwhiR0ygPQIgcuVs\n\
                    v8W4SXacxHB2n71qgHxMFEI0BaqN9sFBUuCaa6E=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-17T00:28:55.000Z"
                  not_after: "2021-01-17T00:28:55.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                    MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMdPJQgmteSzj9TCPaJ3zkmw\n\
                    R4XvbpRLDePty/5vXDhHtqwZ7Beq3X5yW5MkuSKo2qeN+ZVD7n1YEyqwNMPJT7kC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBADW4FEXTz6BBlaX6Bh4qbm/pVeR6m9Qq6hsORllmHPmtKW0Qgd8altfis/J1\n\
                    qcbxAZ5Nw7AmsNTjOkDL9ip0xDs=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMTcwMTI4NTVaFw0yMjAxMTcwMTI4NTVaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAL3fAgy4TiKC4rXIckmkft/FYYWl1LTtDfjaq0cr5o3JD5echhAsDsSS\n\
                    a1NzBca1PTinOS66Skd9peTjpDPjDRECAwEAATANBgkqhkiG9w0BAQsFAANBAF+W\n\
                    P3hsPjYHTSOMAhF/o4PfVE8oF7QRmVX+8MJmFafNN4zA2F0Yyu5GfhKH1PAwuv36\n\
                    4+vyAtQFgPE9JI76VcU=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "e7ac8301bf0b729e81737a86213400003fc7d3a9a83508aebe49cfa2e945969a"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-17T01:28:55.199Z"
                  updated_at: "2020-01-17T01:28:55.199Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                    MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANxg2iQ2WChJl7KpdjwaXGtD\n\
                    M6e7QJ18L54XFUoE3BNldjETZpIvkXPGREFR09h4rdnB7aerCdKVgPgZYfJzHOMC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAIvNi6p7TbJh6S6iNIRd0koS4aSoRTjajPYvtveWM85KkhODsYcZmHlMEnrb\n\
                    q9HDWAAlZswP6uxdAoFW2LpHW2k=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMTcwMTI4NTVaFw0yMjAxMTcwMTI4NTVaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJfF6xbVl1XrwBZB7809Zr/u0ARMUQQ+efJ7534OyEhj1VnJ796ka8G6\n\
                    FUQMAKSd632Pu9T3zPgUhnR1CpNifN8CAwEAATANBgkqhkiG9w0BAQsFAANBACbm\n\
                    zRZS3qRBT63IkLbMHFUsv5D+4PZrV+Ov6P3ldBNYzY1NgRnuvZYALzBtVlQwyOOt\n\
                    +qRg/g76cGVCZ1+Nh4w=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBANxg2iQ2WChJl7KpdjwaXGtDM6e7QJ18L54XFUoE3BNldjETZpIv\n\
                    kXPGREFR09h4rdnB7aerCdKVgPgZYfJzHOMCAwEAAQJAL/Ahg58OrjTT+tlCDvDt\n\
                    CagkpGfnNlq9QPZkeyVzegRAwKU2WP/E08VYdzfT8HiZKZdLjIyy9LTfpA6K+UjV\n\
                    gQIhAPRsqnCo1kmup4s3vNfO09N0snm6te6EsDP8WEexMdb9AiEA5tCoVQu3jz+f\n\
                    OKsMmHoMHUzq3waq/NLIfarDayNOOV8CIQDqXaewDrQqQoX0P6WbaH5EK4lWn2kD\n\
                    I8ewkS40z/ryIQIhAMY6FRdVBMRFw5yLajnZN2ZClMQNmfOfowgqC8KLg7bJAiAf\n\
                    3Um2y0nAhN7h4A9lfkAPVvp5X8mXAUPaBfGSivTZ4w==\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-17T00:28:55.000Z"
                  not_after: "2021-01-17T00:28:55.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                    MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANxg2iQ2WChJl7KpdjwaXGtD\n\
                    M6e7QJ18L54XFUoE3BNldjETZpIvkXPGREFR09h4rdnB7aerCdKVgPgZYfJzHOMC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAIvNi6p7TbJh6S6iNIRd0koS4aSoRTjajPYvtveWM85KkhODsYcZmHlMEnrb\n\
                    q9HDWAAlZswP6uxdAoFW2LpHW2k=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMTcwMTI4NTVaFw0yMjAxMTcwMTI4NTVaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJfF6xbVl1XrwBZB7809Zr/u0ARMUQQ+efJ7534OyEhj1VnJ796ka8G6\n\
                    FUQMAKSd632Pu9T3zPgUhnR1CpNifN8CAwEAATANBgkqhkiG9w0BAQsFAANBACbm\n\
                    zRZS3qRBT63IkLbMHFUsv5D+4PZrV+Ov6P3ldBNYzY1NgRnuvZYALzBtVlQwyOOt\n\
                    +qRg/g76cGVCZ1+Nh4w=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "2b1897bdda112f9f79b77be910cd79716eefb11ddc100e6e3c0203ca39897bed"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-17T01:28:55.127Z"
                  updated_at: "2020-01-17T01:28:55.127Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK6+eIO33aYHzMx6qELZd05A\n\
                spToZ4Q4Z8AUKuBrS12UO8zRcuhukr6GrDL2/OqKG+g7zk38cFhyil1GxFyqUvMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBALXJwZTo3Lia2Ty9CDYhQ9dyH/H4UaWhfGGLjqIE0QNtyZHYKSZgJEj3yJd1\n\
                7PGpAL8LBRmC4leqkVf8iUT/Epg=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMTcwMTI4NTVaFw0yMjAxMTcwMTI4NTVaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBAMMQrGD0AGtpyFX+7PNoa+zVNMQ6zdeMXGmUSR5h0QytimKkyZu1S4c2\n\
                tBpnl85M1sAgXTxEUr48ypLlWY79x4kCAwEAATANBgkqhkiG9w0BAQsFAANBAA2B\n\
                jhBnGQN2e5fb1kZqwfL2pcQ3tpfDSznLcAS0SQZf7OJx3yxNwL9kKeDrQurTEJkJ\n\
                l5HOZ/ierFh6ZxdthHc=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAK6+eIO33aYHzMx6qELZd05AspToZ4Q4Z8AUKuBrS12UO8zRcuhu\n\
                kr6GrDL2/OqKG+g7zk38cFhyil1GxFyqUvMCAwEAAQJBAIzt8pYQmMMJsWMMXV2k\n\
                s3K5/QzZLntVXl9sJHRgNCUgTaeq/zHot/lHlJpaIQ+2Bllxg0LG/tswmN2B9Khc\n\
                zzkCIQDYSfebLUcnBi+A/YtV8NZXj8ab6z5uY2sfHlpzT/OwHQIhAM7Tzk5pCyew\n\
                azYlPqZcbjNKvKxCgMdWCncWZh+bNcJPAiAjI0klnaJ8lYWsKAS17o1z5ji25e3b\n\
                ky04/f5l02xchQIhAICzQiR+rwdSe1RlFrgUuipGrmMOuu3Pd5GlKYUvYuN3AiAn\n\
                PnTXMYpZqFTnvG64DFaKh2KAsHzUNNRYNjmQiVB2Aw==\n-----END RSA PRIVATE\
                \ KEY-----\n"
              common_name: "www.health.io"
              not_before: "2020-01-17T00:28:55.000Z"
              not_after: "2021-01-17T00:28:55.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
              subject_locale: "New York"
              subject_organization: "Health Co."
              acme: false
              leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTE3MDAyODU1WhcNMjEw\n\
                MTE3MDAyODU1WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK6+eIO33aYHzMx6qELZd05A\n\
                spToZ4Q4Z8AUKuBrS12UO8zRcuhukr6GrDL2/OqKG+g7zk38cFhyil1GxFyqUvMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
[...]
