---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "1005-1026-6766"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-02T16:59:04.366Z"
                  updated_at: "2020-01-02T16:59:04.366Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api.aptible.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/cd351aad-ab57-4e49-bca3-8a23864dd86a"
                    stack:
                      href: "https://api.aptible.com/stacks/1"
                    apps:
                      href: "https://api.aptible.com/accounts/2/apps"
                    backups:
                      href: "https://api.aptible.com/accounts/2/backups"
                    databases:
                      href: "https://api.aptible.com/accounts/2/databases"
                    disks:
                      href: "https://api.aptible.com/accounts/2/disks"
                    services:
                      href: "https://api.aptible.com/accounts/2/services"
                    operations:
                      href: "https://api.aptible.com/accounts/2/operations"
                    permissions:
                      href: "https://api.aptible.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api.aptible.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api.aptible.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api.aptible.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api.aptible.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api.aptible.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "7120-4111-2426"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-02T16:59:04.359Z"
                  updated_at: "2020-01-02T16:59:04.359Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api.aptible.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/cd351aad-ab57-4e49-bca3-8a23864dd86a"
                    stack:
                      href: "https://api.aptible.com/stacks/1"
                    apps:
                      href: "https://api.aptible.com/accounts/1/apps"
                    backups:
                      href: "https://api.aptible.com/accounts/1/backups"
                    databases:
                      href: "https://api.aptible.com/accounts/1/databases"
                    disks:
                      href: "https://api.aptible.com/accounts/1/disks"
                    services:
                      href: "https://api.aptible.com/accounts/1/services"
                    operations:
                      href: "https://api.aptible.com/accounts/1/operations"
                    permissions:
                      href: "https://api.aptible.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api.aptible.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api.aptible.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api.aptible.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api.aptible.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api.aptible.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api.aptible.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "1857-4566-3727"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-02T16:59:05.135Z"
                  updated_at: "2020-01-02T16:59:05.135Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api.aptible.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/073c519b-15d9-4ecf-aa40-0e2716c5110f"
                    stack:
                      href: "https://api.aptible.com/stacks/3"
                    apps:
                      href: "https://api.aptible.com/accounts/4/apps"
                    backups:
                      href: "https://api.aptible.com/accounts/4/backups"
                    databases:
                      href: "https://api.aptible.com/accounts/4/databases"
                    disks:
                      href: "https://api.aptible.com/accounts/4/disks"
                    services:
                      href: "https://api.aptible.com/accounts/4/services"
                    operations:
                      href: "https://api.aptible.com/accounts/4/operations"
                    permissions:
                      href: "https://api.aptible.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api.aptible.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api.aptible.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api.aptible.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api.aptible.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api.aptible.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "5178-6528-8049"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-02T16:59:05.128Z"
                  updated_at: "2020-01-02T16:59:05.128Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api.aptible.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/073c519b-15d9-4ecf-aa40-0e2716c5110f"
                    stack:
                      href: "https://api.aptible.com/stacks/3"
                    apps:
                      href: "https://api.aptible.com/accounts/3/apps"
                    backups:
                      href: "https://api.aptible.com/accounts/3/backups"
                    databases:
                      href: "https://api.aptible.com/accounts/3/databases"
                    disks:
                      href: "https://api.aptible.com/accounts/3/disks"
                    services:
                      href: "https://api.aptible.com/accounts/3/services"
                    operations:
                      href: "https://api.aptible.com/accounts/3/operations"
                    permissions:
                      href: "https://api.aptible.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api.aptible.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api.aptible.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api.aptible.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api.aptible.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api.aptible.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "4119-8989-4233"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-02T16:59:05.359Z"
              updated_at: "2020-01-02T16:59:05.359Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api.aptible.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/03da2ac8-f9a8-484a-9904-618280ef925f"
                stack:
                  href: "https://api.aptible.com/stacks/4"
                apps:
                  href: "https://api.aptible.com/accounts/6/apps"
                backups:
                  href: "https://api.aptible.com/accounts/6/backups"
                databases:
                  href: "https://api.aptible.com/accounts/6/databases"
                disks:
                  href: "https://api.aptible.com/accounts/6/disks"
                services:
                  href: "https://api.aptible.com/accounts/6/services"
                operations:
                  href: "https://api.aptible.com/accounts/6/operations"
                permissions:
                  href: "https://api.aptible.com/accounts/6/permissions"
                log_drains:
                  href: "https://api.aptible.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api.aptible.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api.aptible.com/accounts/6/certificates"
                vhosts:
                  href: "https://api.aptible.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api.aptible.com/accounts/6/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "6116-1459-5049"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-02T16:59:05.464Z"
              updated_at: "2020-01-02T16:59:05.464Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api.aptible.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a09e4cd1-4b77-4e16-b4dc-f37f2217b7b4"
                stack:
                  href: "https://api.aptible.com/stacks/6"
                apps:
                  href: "https://api.aptible.com/accounts/8/apps"
                backups:
                  href: "https://api.aptible.com/accounts/8/backups"
                databases:
                  href: "https://api.aptible.com/accounts/8/databases"
                disks:
                  href: "https://api.aptible.com/accounts/8/disks"
                services:
                  href: "https://api.aptible.com/accounts/8/services"
                operations:
                  href: "https://api.aptible.com/accounts/8/operations"
                permissions:
                  href: "https://api.aptible.com/accounts/8/permissions"
                log_drains:
                  href: "https://api.aptible.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api.aptible.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api.aptible.com/accounts/8/certificates"
                vhosts:
                  href: "https://api.aptible.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api.aptible.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "8527-6484-1335"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-02T16:59:05.925Z"
              updated_at: "2020-01-02T16:59:05.997Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api.aptible.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/9d5de6ca-ff18-4204-b060-af42901955fb"
                stack:
                  href: "https://api.aptible.com/stacks/10"
                apps:
                  href: "https://api.aptible.com/accounts/12/apps"
                backups:
                  href: "https://api.aptible.com/accounts/12/backups"
                databases:
                  href: "https://api.aptible.com/accounts/12/databases"
                disks:
                  href: "https://api.aptible.com/accounts/12/disks"
                services:
                  href: "https://api.aptible.com/accounts/12/services"
                operations:
                  href: "https://api.aptible.com/accounts/12/operations"
                permissions:
                  href: "https://api.aptible.com/accounts/12/permissions"
                log_drains:
                  href: "https://api.aptible.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api.aptible.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api.aptible.com/accounts/12/certificates"
                vhosts:
                  href: "https://api.aptible.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api.aptible.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "9360-7751-6846"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-02T16:59:05.730Z"
              updated_at: "2020-01-02T16:59:05.802Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api.aptible.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/cfa8004c-83a3-4a6f-bb0a-da48174060d7"
                stack:
                  href: "https://api.aptible.com/stacks/8"
                apps:
                  href: "https://api.aptible.com/accounts/10/apps"
                backups:
                  href: "https://api.aptible.com/accounts/10/backups"
                databases:
                  href: "https://api.aptible.com/accounts/10/databases"
                disks:
                  href: "https://api.aptible.com/accounts/10/disks"
                services:
                  href: "https://api.aptible.com/accounts/10/services"
                operations:
                  href: "https://api.aptible.com/accounts/10/operations"
                permissions:
                  href: "https://api.aptible.com/accounts/10/permissions"
                log_drains:
                  href: "https://api.aptible.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api.aptible.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api.aptible.com/accounts/10/certificates"
                vhosts:
                  href: "https://api.aptible.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api.aptible.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2020-01-02T16:59:06.347Z"
                  updated_at: "2020-01-02T16:59:06.347Z"
                  starts_at: "2020-01-01T16:59:06.000Z"
                  ends_at: "2020-01-02T16:59:06.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-01 16:59:06\
                    \ UTC - 2020-01-02 16:59:06 UTC"
                  _links:
                    self:
                      href: "https://api.aptible.com/activity_reports/2"
                    account:
                      href: "https://api.aptible.com/accounts/16"
                    download:
                      href: "https://api.aptible.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2020-01-02T16:59:06.343Z"
                  updated_at: "2020-01-02T16:59:06.343Z"
                  starts_at: "2020-01-01T16:59:06.000Z"
                  ends_at: "2020-01-02T16:59:06.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-01 16:59:06\
                    \ UTC - 2020-01-02 16:59:06 UTC"
                  _links:
                    self:
                      href: "https://api.aptible.com/activity_reports/1"
                    account:
                      href: "https://api.aptible.com/accounts/16"
                    download:
                      href: "https://api.aptible.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api.aptible.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2020-01-02T16:59:06.799Z"
              updated_at: "2020-01-02T16:59:06.799Z"
              starts_at: "2020-01-01T16:59:06.000Z"
              ends_at: "2020-01-02T16:59:06.000Z"
              filename: "Activity Report - dev-account-36 - 2020-01-01 16:59:06 UTC\
                \ - 2020-01-02 16:59:06 UTC"
              _links:
                self:
                  href: "https://api.aptible.com/activity_reports/5"
                account:
                  href: "https://api.aptible.com/accounts/20"
                download:
                  href: "https://api.aptible.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2020-01-02T16:59:07.001Z"
                  updated_at: "2020-01-02T16:59:07.001Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api.aptible.com/apps/2"
                    account:
                      href: "https://api.aptible.com/accounts/22"
                    operations:
                      href: "https://api.aptible.com/apps/2/operations"
                    images:
                      href: "https://api.aptible.com/apps/2/images"
                    configurations:
                      href: "https://api.aptible.com/apps/2/configurations"
                    services:
                      href: "https://api.aptible.com/apps/2/services"
                    vhosts:
                      href: "https://api.aptible.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api.aptible.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2020-01-02T16:59:06.996Z"
                  updated_at: "2020-01-02T16:59:06.996Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api.aptible.com/apps/1"
                    account:
                      href: "https://api.aptible.com/accounts/22"
                    operations:
                      href: "https://api.aptible.com/apps/1/operations"
                    images:
                      href: "https://api.aptible.com/apps/1/images"
                    configurations:
                      href: "https://api.aptible.com/apps/1/configurations"
                    services:
                      href: "https://api.aptible.com/apps/1/services"
                    vhosts:
                      href: "https://api.aptible.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api.aptible.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/accounts/22/apps?page=1"
                account:
                  href: "https://api.aptible.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2020-01-02T16:59:07.349Z"
              updated_at: "2020-01-02T16:59:07.349Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api.aptible.com/apps/3"
                account:
                  href: "https://api.aptible.com/accounts/24"
                operations:
                  href: "https://api.aptible.com/apps/3/operations"
                images:
                  href: "https://api.aptible.com/apps/3/images"
                configurations:
                  href: "https://api.aptible.com/apps/3/configurations"
                services:
                  href: "https://api.aptible.com/apps/3/services"
                vhosts:
                  href: "https://api.aptible.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api.aptible.com/apps/3/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2020-01-02T16:59:07.481Z"
                  updated_at: "2020-01-02T16:59:07.481Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api.aptible.com/apps/5"
                    account:
                      href: "https://api.aptible.com/accounts/26"
                    operations:
                      href: "https://api.aptible.com/apps/5/operations"
                    images:
                      href: "https://api.aptible.com/apps/5/images"
                    configurations:
                      href: "https://api.aptible.com/apps/5/configurations"
                    services:
                      href: "https://api.aptible.com/apps/5/services"
                    vhosts:
                      href: "https://api.aptible.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api.aptible.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2020-01-02T16:59:07.476Z"
                  updated_at: "2020-01-02T16:59:07.476Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api.aptible.com/apps/4"
                    account:
                      href: "https://api.aptible.com/accounts/26"
                    operations:
                      href: "https://api.aptible.com/apps/4/operations"
                    images:
                      href: "https://api.aptible.com/apps/4/images"
                    configurations:
                      href: "https://api.aptible.com/apps/4/configurations"
                    services:
                      href: "https://api.aptible.com/apps/4/services"
                    vhosts:
                      href: "https://api.aptible.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api.aptible.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2020-01-02T16:59:07.606Z"
              updated_at: "2020-01-02T16:59:07.606Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api.aptible.com/apps/6"
                account:
                  href: "https://api.aptible.com/accounts/27"
                operations:
                  href: "https://api.aptible.com/apps/6/operations"
                images:
                  href: "https://api.aptible.com/apps/6/images"
                configurations:
                  href: "https://api.aptible.com/apps/6/configurations"
                services:
                  href: "https://api.aptible.com/apps/6/services"
                vhosts:
                  href: "https://api.aptible.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api.aptible.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2020-01-02T16:59:08.021Z"
              updated_at: "2020-01-02T16:59:08.075Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "88908d13adc258d94029c7fb96beaa3bf31953fa"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "580bb9032abcc8e33aff4818e29646018782356b"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-02T16:59:08.027Z"
                  updated_at: "2020-01-02T16:59:08.027Z"
                  _links:
                    self:
                      href: "https://api.aptible.com/images/2"
                    app:
                      href: "https://api.aptible.com/apps/10"
                    operations:
                      href: "https://api.aptible.com/images/2/operations"
              _links:
                self:
                  href: "https://api.aptible.com/apps/10"
                account:
                  href: "https://api.aptible.com/accounts/31"
                current_configuration:
                  href: "https://api.aptible.com/configurations/2"
                current_image:
                  href: "https://api.aptible.com/images/2"
                operations:
                  href: "https://api.aptible.com/apps/10/operations"
                images:
                  href: "https://api.aptible.com/apps/10/images"
                configurations:
                  href: "https://api.aptible.com/apps/10/configurations"
                services:
                  href: "https://api.aptible.com/apps/10/services"
                vhosts:
                  href: "https://api.aptible.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api.aptible.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2020-01-02T16:59:07.787Z"
              updated_at: "2020-01-02T16:59:07.864Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "470d75b8e280e339b44996808da6ff46c4a18097"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "016144d92a0ad4b010740223c8c5ecc2772963a1"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-02T16:59:07.805Z"
                  updated_at: "2020-01-02T16:59:07.805Z"
                  _links:
                    self:
                      href: "https://api.aptible.com/images/1"
                    app:
                      href: "https://api.aptible.com/apps/8"
                    operations:
                      href: "https://api.aptible.com/images/1/operations"
              _links:
                self:
                  href: "https://api.aptible.com/apps/8"
                account:
                  href: "https://api.aptible.com/accounts/29"
                current_configuration:
                  href: "https://api.aptible.com/configurations/1"
                current_image:
                  href: "https://api.aptible.com/images/1"
                operations:
                  href: "https://api.aptible.com/apps/8/operations"
                images:
                  href: "https://api.aptible.com/apps/8/images"
                configurations:
                  href: "https://api.aptible.com/apps/8/configurations"
                services:
                  href: "https://api.aptible.com/apps/8/services"
                vhosts:
                  href: "https://api.aptible.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api.aptible.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2020-01-02T16:59:08.388Z"
                  updated_at: "2020-01-02T16:59:08.388Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2020-01-02T16:59:08.419Z"
                      updated_at: "2020-01-02T16:59:08.419Z"
                      _links:
                        self:
                          href: "https://api.aptible.com/services/1"
                        account:
                          href: "https://api.aptible.com/accounts/36"
                        app:
                          href: "https://api.aptible.com/apps/14"
                        operations:
                          href: "https://api.aptible.com/services/1/operations"
                        releases:
                          href: "https://api.aptible.com/services/1/releases"
                        vhosts:
                          href: "https://api.aptible.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api.aptible.com/apps/14"
                    account:
                      href: "https://api.aptible.com/accounts/35"
                    operations:
                      href: "https://api.aptible.com/apps/14/operations"
                    images:
                      href: "https://api.aptible.com/apps/14/images"
                    configurations:
                      href: "https://api.aptible.com/apps/14/configurations"
                    services:
                      href: "https://api.aptible.com/apps/14/services"
                    vhosts:
                      href: "https://api.aptible.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api.aptible.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.029Z"
                  updated_at: "2020-01-02T16:59:09.029Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/2"
                    account:
                      href: "https://api.aptible.com/accounts/38"
                    database:
                      href: "https://api.aptible.com/databases/1"
                    copies:
                      href: "https://api.aptible.com/backups/2/copies"
                    operations:
                      href: "https://api.aptible.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.026Z"
                  updated_at: "2020-01-02T16:59:09.026Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/1"
                    account:
                      href: "https://api.aptible.com/accounts/38"
                    database:
                      href: "https://api.aptible.com/databases/1"
                    copies:
                      href: "https://api.aptible.com/backups/1/copies"
                    operations:
                      href: "https://api.aptible.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/accounts/38/backups?page=1"
                account:
                  href: "https://api.aptible.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.306Z"
                  updated_at: "2020-01-02T16:59:09.306Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/4"
                    account:
                      href: "https://api.aptible.com/accounts/40"
                    database:
                      href: "https://api.aptible.com/databases/2"
                    copies:
                      href: "https://api.aptible.com/backups/4/copies"
                    operations:
                      href: "https://api.aptible.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.304Z"
                  updated_at: "2020-01-02T16:59:09.304Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/3"
                    account:
                      href: "https://api.aptible.com/accounts/40"
                    database:
                      href: "https://api.aptible.com/databases/2"
                    copies:
                      href: "https://api.aptible.com/backups/3/copies"
                    operations:
                      href: "https://api.aptible.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/databases/2/backups?page=1"
                database:
                  href: "https://api.aptible.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.483Z"
                  updated_at: "2020-01-02T16:59:09.483Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-02T16:59:09.478Z"
                      updated_at: "2020-01-02T16:59:09.478Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api.aptible.com/backups/5"
                        account:
                          href: "https://api.aptible.com/accounts/42"
                        database:
                          href: "https://api.aptible.com/databases/4"
                        copies:
                          href: "https://api.aptible.com/backups/5/copies"
                        operations:
                          href: "https://api.aptible.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/7"
                    account:
                      href: "https://api.aptible.com/accounts/42"
                    database:
                      href: "https://api.aptible.com/databases/4"
                    copied_from:
                      href: "https://api.aptible.com/backups/5"
                    copies:
                      href: "https://api.aptible.com/backups/7/copies"
                    operations:
                      href: "https://api.aptible.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2020-01-02T16:59:09.481Z"
                  updated_at: "2020-01-02T16:59:09.481Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-02T16:59:09.478Z"
                      updated_at: "2020-01-02T16:59:09.478Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api.aptible.com/backups/5"
                        account:
                          href: "https://api.aptible.com/accounts/42"
                        database:
                          href: "https://api.aptible.com/databases/4"
                        copies:
                          href: "https://api.aptible.com/backups/5/copies"
                        operations:
                          href: "https://api.aptible.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api.aptible.com/backups/6"
                    account:
                      href: "https://api.aptible.com/accounts/42"
                    database:
                      href: "https://api.aptible.com/databases/4"
                    copied_from:
                      href: "https://api.aptible.com/backups/5"
                    copies:
                      href: "https://api.aptible.com/backups/6/copies"
                    operations:
                      href: "https://api.aptible.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2020-01-02T16:59:09.664Z"
              updated_at: "2020-01-02T16:59:09.664Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api.aptible.com/backups/9"
                account:
                  href: "https://api.aptible.com/accounts/44"
                database:
                  href: "https://api.aptible.com/databases/6"
                copies:
                  href: "https://api.aptible.com/backups/9/copies"
                operations:
                  href: "https://api.aptible.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_7"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTA5WhcNMjEw\n\
                    MTAyMTU1OTA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALNT7sYkkdy1ejCqwV3kAxO4\n\
                    jFjkL9L5WICxFIqw2RIfmhI+Km4vxZxUN+bPr79lkWYuhMjr7hf3Z1t325JZ79cC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAAjVzJMGWDHjJqajgjQ8w8NfFmLi77P871QzCAVcFM/ywUNsi91JBQzzNPao\n\
                    isAPJggnVE0S8H/3AOKI7OjrsCw=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMDIxNjU5MDlaFw0yMjAxMDIxNjU5MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJvZ56rbo5ebuMnYirooyNsJntIsnqrqaPCllihTr4X33ht8GGtaPFyF\n\
                    IoZzbf22PGFWE02h/JzMq4Bp3+Gnxh0CAwEAATANBgkqhkiG9w0BAQsFAANBAF3k\n\
                    gY4Q9CwEB1F5qhI8NNKgkicBCRGhmzeiexfWCGHDr8nDBK1tdNY6/XP0MziYhtDZ\n\
                    DhQnUq8S1KoMUW2mxaI=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOQIBAAJBALNT7sYkkdy1ejCqwV3kAxO4jFjkL9L5WICxFIqw2RIfmhI+Km4v\n\
                    xZxUN+bPr79lkWYuhMjr7hf3Z1t325JZ79cCAwEAAQJAIrLl688drjArUYlo2wsI\n\
                    kWNPPNACdPcsadJZ4DAyAHBr8GW1Z50ubc/h3lfqSwZ6yWGKomu5tRUd+L1BwufZ\n\
                    GQIhAOFiBualQe9AZ7BF5ckKQX9VMuGSF3HPL2Tomy8jWB/zAiEAy7BIlv3zRFd5\n\
                    83JI1L3jAmx3h2/K2na2OR6svOdLDY0CIAsgDp0l/So1MKkX2i7hTbheWUOfNX8N\n\
                    rhY6ESbzhK8XAiAW2ABsHrMHuR/OM8UDRwCMpwmIwPrpIWMyaMRKs03xiQIgI1Nu\n\
                    GYvntrNI6hqNMqw9L9YM/MY9qM5EILc1ZeA3awc=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-02T15:59:09.000Z"
                  not_after: "2021-01-02T15:59:09.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTA5WhcNMjEw\n\
                    MTAyMTU1OTA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALNT7sYkkdy1ejCqwV3kAxO4\n\
                    jFjkL9L5WICxFIqw2RIfmhI+Km4vxZxUN+bPr79lkWYuhMjr7hf3Z1t325JZ79cC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAAjVzJMGWDHjJqajgjQ8w8NfFmLi77P871QzCAVcFM/ywUNsi91JBQzzNPao\n\
                    isAPJggnVE0S8H/3AOKI7OjrsCw=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMDIxNjU5MDlaFw0yMjAxMDIxNjU5MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJvZ56rbo5ebuMnYirooyNsJntIsnqrqaPCllihTr4X33ht8GGtaPFyF\n\
                    IoZzbf22PGFWE02h/JzMq4Bp3+Gnxh0CAwEAATANBgkqhkiG9w0BAQsFAANBAF3k\n\
                    gY4Q9CwEB1F5qhI8NNKgkicBCRGhmzeiexfWCGHDr8nDBK1tdNY6/XP0MziYhtDZ\n\
                    DhQnUq8S1KoMUW2mxaI=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "fce9ea3ccb30ca45a77d59f556477d28bd6494b11a92fa69e051c1de62944410"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-02T16:59:10.007Z"
                  updated_at: "2020-01-02T16:59:10.007Z"
                  _links:
                    self:
                      href: "https://api.aptible.com/certificates/4"
                    account:
                      href: "https://api.aptible.com/accounts/46"
                    operations:
                      href: "https://api.aptible.com/certificates/4/operations"
                    vhosts:
                      href: "https://api.aptible.com/certificates/4/vhosts"
                    apps:
                      href: "https://api.aptible.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTA5WhcNMjEw\n\
                    MTAyMTU1OTA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALlC8f9YSGokRwhNDQTBoXyy\n\
                    i5lQGI1glvNLIsjE1YmNkRdL86A9OnnEWDTAC4YpenilOFxGyDgr7TWZrQIIqf8C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAE3QiWMNmz+vnnW98soPrRcFGxUCVJlyD0RKbn+wJIVPxjPVxyZ3hX5n3amy\n\
                    60ebLUMxy6PG+IujYAWD7H/PzuM=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMDIxNjU5MDlaFw0yMjAxMDIxNjU5MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALO/8KCMZzZgQhUZ0vPkCtEQ8ZvH6K7gXzQVUMMwpSoV3agQ/yUi1SX5\n\
                    Iu2gJObUQ0nZG4dx8cnUxqdea+LvTeECAwEAATANBgkqhkiG9w0BAQsFAANBAL/o\n\
                    roMor/UrLFCoPsJRyJqaOgnFXRNjRr0v30kjYm89+NIAuYD4yR+2/ayZM0iiBEEu\n\
                    tDWsS1Cd8vWd6XI+RXc=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBPAIBAAJBALlC8f9YSGokRwhNDQTBoXyyi5lQGI1glvNLIsjE1YmNkRdL86A9\n\
                    OnnEWDTAC4YpenilOFxGyDgr7TWZrQIIqf8CAwEAAQJBAJDEa25pgkzPBGLMMvwg\n\
                    gxx6OPQYztbLP6nmcMwKZAMTtAyTAe7pKv+z2Zc21I6so/7mu0tKIaJ/Z4AWaPJf\n\
                    vcECIQDl+UCyQ23aZRkFsjIiR8Eo8c27A3Qg8aOjwTfYgJJfOQIhAM46TVPJ45S+\n\
                    eaXBUUlVb6S1oxxmSuaOuvHwCypNOxr3AiEAyZ3sClzzQjS/6y5+pW8i+TKEmyA7\n\
                    /2XZgQc0XqrZqIECIErezc4aoL4SvPVZjtpR4ztoGjSoSo8TyHknjdYovcmXAiEA\n\
                    j11wzhTjC/2Wek77ty6qpJP6szUhhzDeWpn70hLeZ+w=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-02T15:59:09.000Z"
                  not_after: "2021-01-02T15:59:09.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTA5WhcNMjEw\n\
                    MTAyMTU1OTA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALlC8f9YSGokRwhNDQTBoXyy\n\
                    i5lQGI1glvNLIsjE1YmNkRdL86A9OnnEWDTAC4YpenilOFxGyDgr7TWZrQIIqf8C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAE3QiWMNmz+vnnW98soPrRcFGxUCVJlyD0RKbn+wJIVPxjPVxyZ3hX5n3amy\n\
                    60ebLUMxy6PG+IujYAWD7H/PzuM=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMDIxNjU5MDlaFw0yMjAxMDIxNjU5MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALO/8KCMZzZgQhUZ0vPkCtEQ8ZvH6K7gXzQVUMMwpSoV3agQ/yUi1SX5\n\
                    Iu2gJObUQ0nZG4dx8cnUxqdea+LvTeECAwEAATANBgkqhkiG9w0BAQsFAANBAL/o\n\
                    roMor/UrLFCoPsJRyJqaOgnFXRNjRr0v30kjYm89+NIAuYD4yR+2/ayZM0iiBEEu\n\
                    tDWsS1Cd8vWd6XI+RXc=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "2f4ed52f2a99cbf716694841098b99737d5e9f120c5e18ebbef5c3d7cc740767"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-02T16:59:09.921Z"
                  updated_at: "2020-01-02T16:59:09.921Z"
                  _links:
                    self:
                      href: "https://api.aptible.com/certificates/3"
                    account:
                      href: "https://api.aptible.com/accounts/46"
                    operations:
                      href: "https://api.aptible.com/certificates/3/operations"
                    vhosts:
                      href: "https://api.aptible.com/certificates/3/vhosts"
                    apps:
                      href: "https://api.aptible.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api.aptible.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api.aptible.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_8"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTEwWhcNMjEw\n\
                MTAyMTU1OTEwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALvs59/MnKmrhBVxnE5NjL0c\n\
                OnnTBI3swaqxGiUCtZQ7AN9aO3pU+hwZwVfAVloJs8PU7VzxnPn4ukflcGNKfV0C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAFw+wi/wcd+XWB/nSnR32g5+7ey6bGGqSyjVCBuMReMCT7E19mPhnAGbl3lH\n\
                S7Q9MwEGpFMH7C7HpX/QthBPYi0=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMDIxNjU5MTBaFw0yMjAxMDIxNjU5MTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBAMhrf8InH/YIr5dTGDFY0ZbV8NYSCerAaMjuIHxv5sJGwhPArrf7CkXP\n\
                IHbXIPruh9K/IMk/Q93AYae7KKklk8MCAwEAATANBgkqhkiG9w0BAQsFAANBAGRN\n\
                x+Qn2A0ePwKZWDqn301xC1TaTrqDLBHAuG7wvT7d9CafLDlRUvDi8wyDxSp0F0by\n\
                qqt+vhk4IT3tg2IhKZ4=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBALvs59/MnKmrhBVxnE5NjL0cOnnTBI3swaqxGiUCtZQ7AN9aO3pU\n\
                +hwZwVfAVloJs8PU7VzxnPn4ukflcGNKfV0CAwEAAQJAQSy7ikGDP9DtQSaiyAFb\n\
                QybsHN4TYUlwLUu4voc/BEYOM9mygb0Uuj4FHpZTuvhfiIXRQqzTX0sjh9Bd85Lp\n\
                AQIhAN30lBG7t3HycrOBmemkl9hI6NyyWOyZi9H0T1fPRB6dAiEA2MAWf8GdshG4\n\
                obndAgVbCFTH+v2VEq4XHj5j5hj0PcECIQDVZolSv3wyF1xG0M3NwU2pSvhw8Rzk\n\
                ZwDy3YXHtGUXVQIgCWH/V1Z1UiEMQgv+sjizISAya/4QNvfMTmXbAznvUMECIFgt\n\
                jFrC1BFMdqQiOi7NBGmrpaT0pTdilhPvDDB89XZC\n-----END RSA PRIVATE KEY-----\n"
              common_name: "www.health.io"
              not_before: "2020-01-02T15:59:10.000Z"
              not_after: "2021-01-02T15:59:10.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
              subject_locale: "New York"
              subject_organization: "Health Co."
              acme: false
              leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTEwWhcNMjEw\n\
                MTAyMTU1OTEwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALvs59/MnKmrhBVxnE5NjL0c\n\
                OnnTBI3swaqxGiUCtZQ7AN9aO3pU+hwZwVfAVloJs8PU7VzxnPn4ukflcGNKfV0C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAFw+wi/wcd+XWB/nSnR32g5+7ey6bGGqSyjVCBuMReMCT7E19mPhnAGbl3lH\n\
                S7Q9MwEGpFMH7C7HpX/QthBPYi0=\n-----END CERTIFICATE-----\n"
              certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMDIxNjU5MTBaFw0yMjAxMDIxNjU5MTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBAMhrf8InH/YIr5dTGDFY0ZbV8NYSCerAaMjuIHxv5sJGwhPArrf7CkXP\n\
                IHbXIPruh9K/IMk/Q93AYae7KKklk8MCAwEAATANBgkqhkiG9w0BAQsFAANBAGRN\n\
                x+Qn2A0ePwKZWDqn301xC1TaTrqDLBHAuG7wvT7d9CafLDlRUvDi8wyDxSp0F0by\n\
                qqt+vhk4IT3tg2IhKZ4=\n-----END CERTIFICATE-----\n"
              sha256_fingerprint: "d125a93b85529c64afea40f65a2eaccc695e64c51050c8b77edd351b17c5ada5"
              trusted: false
              self_signed: false
              subject_alternative_names:
              - "www.health.io"
              private_key_algorithm: "rsa"
              _type: "certificate"
              created_at: "2020-01-02T16:59:10.577Z"
              updated_at: "2020-01-02T16:59:10.577Z"
              _links:
                self:
                  href: "https://api.aptible.com/certificates/6"
                account:
                  href: "https://api.aptible.com/accounts/48"
                operations:
                  href: "https://api.aptible.com/certificates/6/operations"
                vhosts:
                  href: "https://api.aptible.com/certificates/6/vhosts"
                apps:
                  href: "https://api.aptible.com/certificates/6/apps"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{id}:
    get:
      summary: "show certificate"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 7
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTAyMTU1OTEwWhcNMjEw\n\
                MTAyMTU1OTEwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAMLuqZlEEA41jYxCSOw+YFcR\n\
                1HZVdDvLWqiPNE9lwl1zRPKlBR6lrhzWhhFLa8gPDjVCsTa4yMMJ57QZlP2lFb0C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAF77OExqZ2/TMGK8ornv9Lc/GeCb80Johchoa+QjrhjvbhFB0wwHoCUbX7hA\n\
                snrbSRk+9NYJRWkKb0SPUgdMJYk=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMDIxNjU5MTBaFw0yMjAxMDIxNjU5MTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
[...]
