---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "1869-1968-7400"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-03-09T17:28:08.545Z"
                  updated_at: "2020-03-09T17:28:08.545Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/f90e23e5-bedf-4724-aaf7-77e4fc606bb2"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "9876-8247-4850"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-03-09T17:28:08.538Z"
                  updated_at: "2020-03-09T17:28:08.538Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/f90e23e5-bedf-4724-aaf7-77e4fc606bb2"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "3446-0491-5564"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-03-09T17:28:09.196Z"
                  updated_at: "2020-03-09T17:28:09.196Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/3e037f19-dd23-4a0b-8dbd-d46f87beaadf"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "3750-1924-4372"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-03-09T17:28:09.190Z"
                  updated_at: "2020-03-09T17:28:09.190Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/3e037f19-dd23-4a0b-8dbd-d46f87beaadf"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "3484-2972-6288"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-03-09T17:28:09.382Z"
              updated_at: "2020-03-09T17:28:09.382Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/8acf6d7b-8896-44a8-b39b-e16d5be997d7"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/4"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "1217-9003-5843"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-03-09T17:28:09.476Z"
              updated_at: "2020-03-09T17:28:09.476Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/8d719d30-3314-4015-9a58-066f4081e04d"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/6"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "1067-2676-7589"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-03-09T17:28:09.821Z"
              updated_at: "2020-03-09T17:28:09.885Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/57af0bf3-7fe7-436e-bee0-2cc9c9242690"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/10"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "9977-1012-4304"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-03-09T17:28:09.646Z"
              updated_at: "2020-03-09T17:28:09.717Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/5c07cc24-d400-489a-8f84-cd4a5055a39b"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/8"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2020-03-09T17:28:10.230Z"
                  updated_at: "2020-03-09T17:28:10.230Z"
                  starts_at: "2020-03-08T17:28:10.000Z"
                  ends_at: "2020-03-09T17:28:10.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-03-08 17:28:10\
                    \ UTC - 2020-03-09 17:28:10 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2020-03-09T17:28:10.224Z"
                  updated_at: "2020-03-09T17:28:10.224Z"
                  starts_at: "2020-03-08T17:28:10.000Z"
                  ends_at: "2020-03-09T17:28:10.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-03-08 17:28:10\
                    \ UTC - 2020-03-09 17:28:10 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2020-03-09T17:28:10.622Z"
              updated_at: "2020-03-09T17:28:10.622Z"
              starts_at: "2020-03-08T17:28:10.000Z"
              ends_at: "2020-03-09T17:28:10.000Z"
              filename: "Activity Report - dev-account-36 - 2020-03-08 17:28:10 UTC\
                \ - 2020-03-09 17:28:10 UTC"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/20"
                download:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2020-03-09T17:28:10.822Z"
                  updated_at: "2020-03-09T17:28:10.822Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2020-03-09T17:28:10.817Z"
                  updated_at: "2020-03-09T17:28:10.817Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22/apps?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2020-03-09T17:28:11.080Z"
              updated_at: "2020-03-09T17:28:11.080Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/3"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/24"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2020-03-09T17:28:11.207Z"
                  updated_at: "2020-03-09T17:28:11.207Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/5"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2020-03-09T17:28:11.203Z"
                  updated_at: "2020-03-09T17:28:11.203Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2020-03-09T17:28:11.341Z"
              updated_at: "2020-03-09T17:28:11.341Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/6"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/27"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2020-03-09T17:28:11.782Z"
              updated_at: "2020-03-09T17:28:11.841Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "46d0ca0a37b0e027e523bbdba5b89e1f1a233e81"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "cc499abedbaf02e92fabc9e55de6d2631b27257f"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-03-09T17:28:11.788Z"
                  updated_at: "2020-03-09T17:28:11.788Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/2"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/10"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/2/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/10"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/31"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/2"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/2"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2020-03-09T17:28:11.547Z"
              updated_at: "2020-03-09T17:28:11.637Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "a29a30db21bba05ce22e6de91ac9093c5047678b"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "5fa2c48249405db0fa36461079f82162aa70beb3"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-03-09T17:28:11.573Z"
                  updated_at: "2020-03-09T17:28:11.573Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/1"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/8"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/1/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/8"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/29"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/1"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/1"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2020-03-09T17:28:12.168Z"
                  updated_at: "2020-03-09T17:28:12.168Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2020-03-09T17:28:12.205Z"
                      updated_at: "2020-03-09T17:28:12.205Z"
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/services/1"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/36"
                        app:
                          href: "https://api-bob.aptible-sandbox.com/apps/14"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/services/1/operations"
                        releases:
                          href: "https://api-bob.aptible-sandbox.com/services/1/releases"
                        vhosts:
                          href: "https://api-bob.aptible-sandbox.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/14"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/35"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:12.982Z"
                  updated_at: "2020-03-09T17:28:12.982Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:12.980Z"
                  updated_at: "2020-03-09T17:28:12.980Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38/backups?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:13.170Z"
                  updated_at: "2020-03-09T17:28:13.170Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:13.168Z"
                  updated_at: "2020-03-09T17:28:13.168Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/databases/2/backups?page=1"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:13.323Z"
                  updated_at: "2020-03-09T17:28:13.323Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-03-09T17:28:13.319Z"
                      updated_at: "2020-03-09T17:28:13.319Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/7"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2020-03-09T17:28:13.321Z"
                  updated_at: "2020-03-09T17:28:13.321Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-03-09T17:28:13.319Z"
                      updated_at: "2020-03-09T17:28:13.319Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/6"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2020-03-09T17:28:13.477Z"
              updated_at: "2020-03-09T17:28:13.477Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/9"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/44"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/6"
                copies:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/copies"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODEzWhcNMjEw\n\
                    MzA5MTYyODEzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAO7Wt7os3rhPAUpZTnDJKw2b\n\
                    udgHdnASm+192T4sWbHYgdFW3OE2+rgJlNERG+9QhkloBZ5tmqLim48TY/dcTCsC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAIh0gGikx9b/8oQ2Y0mtLgK6xUOE7ydjkUvU+gV3WSweEF/CzmcHxkc9FECj\n\
                    VPYkWYAJpUzyF5oLjjU7vYZIJlE=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAzMDkxNzI4MTNaFw0yMjAzMDkxNzI4MTNaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALpfmMenOPNiigU84ShLF4mwBkaB3wryyW/GWrBc+yj0JFZsHfZeIxBF\n\
                    Rle+MjhaLaRlyGGnfHpv4WOm5XHmTzcCAwEAATANBgkqhkiG9w0BAQsFAANBAL5W\n\
                    pplvusSY2Y2LTsZFOTryLnOWG2NEJBLqrcgddfdU2a0BGrrpwbhspMcYw7ma4mnt\n\
                    6SwvQKyVqW1bNaROTdM=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAO7Wt7os3rhPAUpZTnDJKw2budgHdnASm+192T4sWbHYgdFW3OE2\n\
                    +rgJlNERG+9QhkloBZ5tmqLim48TY/dcTCsCAwEAAQJAGSkVgc9oRxJLmIF/+fG3\n\
                    T1+wXEms+HF9a69uS1ZwvINWSYiQaegEZOwhV5iQUlEKtAv1rHa1RAY3fG4v/5NN\n\
                    QQIhAP9pL+m+9coUsOw6l7kstNbqFhjs3n9EMwNcO8rxkYdVAiEA72O+wczOdBa4\n\
                    PajLjtpJ7Eqa1Yo9d4YChgFjvntvhX8CIQD1p/w3fD33obMRYsGvjzpYQ0oBq0HN\n\
                    cpEGOF4iMfphCQIhAJn+AgHM66nFy7LuWDOGvDLiMwPWr3+plwn47t7jrHOlAiAv\n\
                    rvKRHhIym0WLUIq3/dZvd6oqkvh8PfJUZaHX3ERpJg==\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-03-09T16:28:13.000Z"
                  not_after: "2021-03-09T16:28:13.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODEzWhcNMjEw\n\
                    MzA5MTYyODEzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAO7Wt7os3rhPAUpZTnDJKw2b\n\
                    udgHdnASm+192T4sWbHYgdFW3OE2+rgJlNERG+9QhkloBZ5tmqLim48TY/dcTCsC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAIh0gGikx9b/8oQ2Y0mtLgK6xUOE7ydjkUvU+gV3WSweEF/CzmcHxkc9FECj\n\
                    VPYkWYAJpUzyF5oLjjU7vYZIJlE=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAzMDkxNzI4MTNaFw0yMjAzMDkxNzI4MTNaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALpfmMenOPNiigU84ShLF4mwBkaB3wryyW/GWrBc+yj0JFZsHfZeIxBF\n\
                    Rle+MjhaLaRlyGGnfHpv4WOm5XHmTzcCAwEAATANBgkqhkiG9w0BAQsFAANBAL5W\n\
                    pplvusSY2Y2LTsZFOTryLnOWG2NEJBLqrcgddfdU2a0BGrrpwbhspMcYw7ma4mnt\n\
                    6SwvQKyVqW1bNaROTdM=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "78dc14f155130ca4eea5d978a8ab11909e2dc7777addd44c928fe69bb8c50805"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-03-09T17:28:13.807Z"
                  updated_at: "2020-03-09T17:28:13.807Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODEzWhcNMjEw\n\
                    MzA5MTYyODEzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALAQijlHCQRkP8aDT2ObUpOX\n\
                    8aAXWaV8Loy5UNvUAn3EzvjtbfWN/KJo38U5o6LzxQ7OdLM92UsW/J0b60wyBmEC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAFPdycbwYhOH32o15hd4YsXp+UzSlKCFWhk6sUO/yhdl+q9Ls+me9ZquaTMd\n\
                    HK8dRBX7zbTg+aaPQs03m0fZfz4=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAzMDkxNzI4MTNaFw0yMjAzMDkxNzI4MTNaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALrDWri8SrgJDzzjzdGd9Y3SuWgaEt81ZaNJYMYYkS0MiNEcWyiTA74G\n\
                    ICi+ZGLhKxLLCgks4dkO7gqEppvSi/ECAwEAATANBgkqhkiG9w0BAQsFAANBAD6g\n\
                    nzvOniiKDVOWXRjGBcGUUu5A3l4wAv/gKGjBDDqa7NxbkAY9nAPUjkDKJzpkTkP5\n\
                    WJgyo09fEYTLVNeLoBs=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBALAQijlHCQRkP8aDT2ObUpOX8aAXWaV8Loy5UNvUAn3EzvjtbfWN\n\
                    /KJo38U5o6LzxQ7OdLM92UsW/J0b60wyBmECAwEAAQJABgEaZaephA/TKPbzbyct\n\
                    4sCsydPiB8W7ZKsxOb36M8XC5/XDYg9HasYWWBHKekMzOJwk1Qd9fAYpR0K2Jy3C\n\
                    QQIhAOpue4XrfYT89U6GrZCZTZrWYXgcL2ysWdHrYRgyxZH5AiEAwENaRYZ+t1NE\n\
                    ejQbwtpED+XMsVEI3hJaDcgRBuJ0MakCIGx5pPSJy/Hebs/gJ63SEgPEkSNXv2YE\n\
                    ticZSDs/OwZZAiEApkzb1U1rZ8j3bziJVraSrqmXrzwnjmaTTF5kE+9mj9kCIAtO\n\
                    kSuTrdRSix8B2wcIt+DRkLpKvi4D+3IsyGX34U+T\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-03-09T16:28:13.000Z"
                  not_after: "2021-03-09T16:28:13.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODEzWhcNMjEw\n\
                    MzA5MTYyODEzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALAQijlHCQRkP8aDT2ObUpOX\n\
                    8aAXWaV8Loy5UNvUAn3EzvjtbfWN/KJo38U5o6LzxQ7OdLM92UsW/J0b60wyBmEC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAFPdycbwYhOH32o15hd4YsXp+UzSlKCFWhk6sUO/yhdl+q9Ls+me9ZquaTMd\n\
                    HK8dRBX7zbTg+aaPQs03m0fZfz4=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAzMDkxNzI4MTNaFw0yMjAzMDkxNzI4MTNaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALrDWri8SrgJDzzjzdGd9Y3SuWgaEt81ZaNJYMYYkS0MiNEcWyiTA74G\n\
                    ICi+ZGLhKxLLCgks4dkO7gqEppvSi/ECAwEAATANBgkqhkiG9w0BAQsFAANBAD6g\n\
                    nzvOniiKDVOWXRjGBcGUUu5A3l4wAv/gKGjBDDqa7NxbkAY9nAPUjkDKJzpkTkP5\n\
                    WJgyo09fEYTLVNeLoBs=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "0a63052bb4ea9d04437ce5120ac6f345c003b1ad23b872560a96f8000f67092d"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-03-09T17:28:13.720Z"
                  updated_at: "2020-03-09T17:28:13.720Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODE0WhcNMjEw\n\
                MzA5MTYyODE0WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAOZU3sZJXRPup2tk0rUKhAsi\n\
                xYOg2ZSqvUGFIsJ/XHlZ57owh9Jt3+y15v40hfFZmL+xr0rYinzWkvkZwnrtfJMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBADYS9qW3ixzgfVGctIJSpFWmYUV9CvIu1XGSEcOh3wHPLXpFirT6CdGlHS9A\n\
                JW6VRcJyh+mQVJBJK1mHgw4RzT4=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAzMDkxNzI4MTRaFw0yMjAzMDkxNzI4MTRaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBAMYFEl2ssb5g7pa3MoYlq4PoxbGQrOefi+0VM/+guWoct7l+CodHNLr6\n\
                UVs70jNgPZ/yR3UpgG2wgvwFJZlPD10CAwEAATANBgkqhkiG9w0BAQsFAANBAAZS\n\
                bKZz11JeGxC6OSOKQ8lINw6N/DABYK2NlDZ6TBafy5PPq4PLZblFsQoKh5mf5/4g\n\
                bLEKu9cvglAuv2QelsU=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAOZU3sZJXRPup2tk0rUKhAsixYOg2ZSqvUGFIsJ/XHlZ57owh9Jt\n\
                3+y15v40hfFZmL+xr0rYinzWkvkZwnrtfJMCAwEAAQJBAOSC0N2SDVjoDYs7ZNwe\n\
                CbBul9wmKZcX6Vlmd3zVFG6ChMjukenHoyak0zoZpmBFTiOOT6f/QqGnzmhmHJcI\n\
                NCkCIQD2H43zwbU+aGRKLmhT9CfdCxQC4XdnkbchtM2erZz+1QIhAO+TFfpFyD0b\n\
                QXVRHHih8MMVqDN1zlDH07lJijUpOlHHAiAiSKj0YHJHvDDkKGy97Q+0ebuS3ydL\n\
                1P9mgZH23YY19QIhAMyr1wnSVghGYbzNR8qTZvHzbZhRG6qNnQbdmdJi32z/AiBv\n\
                H1jYQtYKWUUBjctYw4QpMmUa4AN9SMsfnSE87RLcgg==\n-----END RSA PRIVATE\
                \ KEY-----\n"
              common_name: "www.health.io"
              not_before: "2020-03-09T16:28:14.000Z"
              not_after: "2021-03-09T16:28:14.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
              subject_locale: "New York"
              subject_organization: "Health Co."
              acme: false
              leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMzA5MTYyODE0WhcNMjEw\n\
                MzA5MTYyODE0WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAOZU3sZJXRPup2tk0rUKhAsi\n\
                xYOg2ZSqvUGFIsJ/XHlZ57owh9Jt3+y15v40hfFZmL+xr0rYinzWkvkZwnrtfJMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
[...]
