---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "3576-0790-7536"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-21T20:46:04.318Z"
                  updated_at: "2020-01-21T20:46:04.318Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/e1d9cece-f0f8-46c2-88c8-735af05e96f1"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "7998-2195-8399"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-21T20:46:04.312Z"
                  updated_at: "2020-01-21T20:46:04.312Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/e1d9cece-f0f8-46c2-88c8-735af05e96f1"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "2831-9793-5105"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-21T20:46:05.036Z"
                  updated_at: "2020-01-21T20:46:05.036Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a383f565-e230-45ed-8d33-ec459e8cca08"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "1970-6639-1759"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-21T20:46:05.029Z"
                  updated_at: "2020-01-21T20:46:05.029Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a383f565-e230-45ed-8d33-ec459e8cca08"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "3253-4310-8206"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-21T20:46:05.279Z"
              updated_at: "2020-01-21T20:46:05.279Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/9a8caf97-a51b-4a58-a853-233ac3b4fc7c"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/4"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "6832-3454-4457"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-21T20:46:05.374Z"
              updated_at: "2020-01-21T20:46:05.374Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a6ac7b9a-a29f-4103-b9cf-21ac1dcf4f14"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/6"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "7908-8861-2058"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-21T20:46:05.759Z"
              updated_at: "2020-01-21T20:46:05.823Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/a0175cdb-e75c-4f36-852b-2c5802c71fbc"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/10"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "3094-3502-8775"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-21T20:46:05.584Z"
              updated_at: "2020-01-21T20:46:05.650Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/ae903d41-c79e-46ab-9745-b9ca189c18e1"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/8"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2020-01-21T20:46:06.151Z"
                  updated_at: "2020-01-21T20:46:06.151Z"
                  starts_at: "2020-01-20T20:46:06.000Z"
                  ends_at: "2020-01-21T20:46:06.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-20 20:46:06\
                    \ UTC - 2020-01-21 20:46:06 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2020-01-21T20:46:06.146Z"
                  updated_at: "2020-01-21T20:46:06.146Z"
                  starts_at: "2020-01-20T20:46:06.000Z"
                  ends_at: "2020-01-21T20:46:06.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-20 20:46:06\
                    \ UTC - 2020-01-21 20:46:06 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2020-01-21T20:46:06.523Z"
              updated_at: "2020-01-21T20:46:06.523Z"
              starts_at: "2020-01-20T20:46:06.000Z"
              ends_at: "2020-01-21T20:46:06.000Z"
              filename: "Activity Report - dev-account-36 - 2020-01-20 20:46:06 UTC\
                \ - 2020-01-21 20:46:06 UTC"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/20"
                download:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2020-01-21T20:46:06.689Z"
                  updated_at: "2020-01-21T20:46:06.689Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2020-01-21T20:46:06.684Z"
                  updated_at: "2020-01-21T20:46:06.684Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22/apps?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2020-01-21T20:46:06.987Z"
              updated_at: "2020-01-21T20:46:06.987Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/3"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/24"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2020-01-21T20:46:07.150Z"
                  updated_at: "2020-01-21T20:46:07.150Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/5"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2020-01-21T20:46:07.145Z"
                  updated_at: "2020-01-21T20:46:07.145Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2020-01-21T20:46:07.293Z"
              updated_at: "2020-01-21T20:46:07.293Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/6"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/27"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2020-01-21T20:46:07.695Z"
              updated_at: "2020-01-21T20:46:07.758Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "eb2962b4835b764c708ea24543049765a09d5fdf"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "4a826ce074caf0e7032eaeeec9162005959a5cda"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-21T20:46:07.700Z"
                  updated_at: "2020-01-21T20:46:07.700Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/2"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/10"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/2/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/10"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/31"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/2"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/2"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2020-01-21T20:46:07.498Z"
              updated_at: "2020-01-21T20:46:07.576Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "6211b3bf6426aaf97f2b302bbf6b483c2f88cb3c"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "6891371a4f87bcfbe3d475f699dccd79537223e6"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-21T20:46:07.519Z"
                  updated_at: "2020-01-21T20:46:07.519Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/1"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/8"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/1/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/8"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/29"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/1"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/1"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2020-01-21T20:46:08.048Z"
                  updated_at: "2020-01-21T20:46:08.048Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2020-01-21T20:46:08.074Z"
                      updated_at: "2020-01-21T20:46:08.074Z"
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/services/1"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/36"
                        app:
                          href: "https://api-bob.aptible-sandbox.com/apps/14"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/services/1/operations"
                        releases:
                          href: "https://api-bob.aptible-sandbox.com/services/1/releases"
                        vhosts:
                          href: "https://api-bob.aptible-sandbox.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/14"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/35"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:08.807Z"
                  updated_at: "2020-01-21T20:46:08.807Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:08.804Z"
                  updated_at: "2020-01-21T20:46:08.804Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38/backups?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:09.155Z"
                  updated_at: "2020-01-21T20:46:09.155Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:09.152Z"
                  updated_at: "2020-01-21T20:46:09.152Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/databases/2/backups?page=1"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:09.383Z"
                  updated_at: "2020-01-21T20:46:09.383Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-21T20:46:09.377Z"
                      updated_at: "2020-01-21T20:46:09.377Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/7"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2020-01-21T20:46:09.380Z"
                  updated_at: "2020-01-21T20:46:09.380Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-21T20:46:09.377Z"
                      updated_at: "2020-01-21T20:46:09.377Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/6"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2020-01-21T20:46:09.576Z"
              updated_at: "2020-01-21T20:46:09.576Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/9"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/44"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/6"
                copies:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/copies"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjA5WhcNMjEw\n\
                    MTIxMTk0NjA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK0FTraw52EVjumcMimvGeLA\n\
                    a2ZTuTYKxCIJpfv5U7oh6jREl7lFkcK+zgY+K0bODKc+jhL4Ccl847kxmP+Fw/EC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAHv/OLri3QdXKvA1lUPtb5W9QrA+YTOsmbgvFDVJubBoOoPZGwcd84zjQ8Oq\n\
                    OYgcIEB0RXutyQ7JAaPJY+gyOS4=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjEyMDQ2MDlaFw0yMjAxMjEyMDQ2MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAKAuJmj0ZWR47n1r2asEjR2ItEJXCvGke251ly5RsePClAIU6vhqXs/f\n\
                    5rojERd2vXLRuZuAYMvoEJPLNw42IV8CAwEAATANBgkqhkiG9w0BAQsFAANBAFJt\n\
                    gz+4COvGecnfBY/BXFVrDXGIcfahHtDrsDCVMgAef+h4nX2DcjLgxAkLMVZPWP1x\n\
                    o+CTBru1CY/JTZM4pmg=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAK0FTraw52EVjumcMimvGeLAa2ZTuTYKxCIJpfv5U7oh6jREl7lF\n\
                    kcK+zgY+K0bODKc+jhL4Ccl847kxmP+Fw/ECAwEAAQJAVLa8i4aiQ06i4o6voOky\n\
                    62r7KubjUCqFTYUb1/uDmyYhoMYCtlhbvUyuzwPTaDTjkSI7YSgjfWqpWkG3686G\n\
                    AQIhANqLlRObXwnqqIW1fweajRZsYTubIf1rDiFYPhvPHcx5AiEAyqxj64qiB8Rc\n\
                    peqbQCuUzA7HhaDY4iL2hhbTjzUT5TkCIQCYHJUra3Yv4ctgHV6IPVM8Kz1WDnkO\n\
                    +OeB3/iCxJr6CQIhAMkcl2o7ft1GNMlPLA9ZL6XtZH9tRMng98/HBtesS7nBAiAC\n\
                    27k1DD/ycTQvG9/ZJL8tEUYiUjzS9RUHKCBElKJWxg==\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-21T19:46:09.000Z"
                  not_after: "2021-01-21T19:46:09.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjA5WhcNMjEw\n\
                    MTIxMTk0NjA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK0FTraw52EVjumcMimvGeLA\n\
                    a2ZTuTYKxCIJpfv5U7oh6jREl7lFkcK+zgY+K0bODKc+jhL4Ccl847kxmP+Fw/EC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAHv/OLri3QdXKvA1lUPtb5W9QrA+YTOsmbgvFDVJubBoOoPZGwcd84zjQ8Oq\n\
                    OYgcIEB0RXutyQ7JAaPJY+gyOS4=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjEyMDQ2MDlaFw0yMjAxMjEyMDQ2MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAKAuJmj0ZWR47n1r2asEjR2ItEJXCvGke251ly5RsePClAIU6vhqXs/f\n\
                    5rojERd2vXLRuZuAYMvoEJPLNw42IV8CAwEAATANBgkqhkiG9w0BAQsFAANBAFJt\n\
                    gz+4COvGecnfBY/BXFVrDXGIcfahHtDrsDCVMgAef+h4nX2DcjLgxAkLMVZPWP1x\n\
                    o+CTBru1CY/JTZM4pmg=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "f62d984ebdbf61865b9961c153ec6e91c07ddd073fcb4b5f383e7d4c35efae52"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-21T20:46:09.948Z"
                  updated_at: "2020-01-21T20:46:09.948Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjA5WhcNMjEw\n\
                    MTIxMTk0NjA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALNhkNv3VGUk94SWVDFg9bHD\n\
                    7RSAspQAtTdib17KkPbbJ3bkoTA5Yk6PP/2zvzoj3QGQbG5NcxReRK/MCt75DosC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAGWbmwBQfy8185z/qIQRGIPfIBBMFcXRF9oTsvOIYgdN9R0uZ/ZH4EXhPU3E\n\
                    LX+Sa5uZT8hosqo35u0Q/pDzlsI=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjEyMDQ2MDlaFw0yMjAxMjEyMDQ2MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALkenFtCKMiFrVZb7LFYgtrNkPPQxICsv/gTXKyyj6/JB0x33T2OyqX8\n\
                    UdEykM1nnbynJjla9LO8b1jC8Z3J5ykCAwEAATANBgkqhkiG9w0BAQsFAANBAAfB\n\
                    OWBTg4fLb7HzTeeqiFDng5pdfedXZ7CmhNW2Tb/+z13eQlnrnTzLxCvdk/avliK7\n\
                    zRMla4qRyLCZdjMU8Pk=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOQIBAAJBALNhkNv3VGUk94SWVDFg9bHD7RSAspQAtTdib17KkPbbJ3bkoTA5\n\
                    Yk6PP/2zvzoj3QGQbG5NcxReRK/MCt75DosCAwEAAQJAM//WdE1wQ5nBvsetRFst\n\
                    HgkD0uuz2L+TyKhaTIpAF67XH4gjWGEo4933FHc+3Bsa0MLr2/b99XQ/o/Hhi8ho\n\
                    8QIhAOwuMylHT0VYKa5k7jtmh3wj9N0UC64EH2wC13GWdi7nAiEAwm8pQA/gsL5b\n\
                    EoVPIbyRo8jp14pMM1Zyrw/Xm3GcYr0CIAQhQq/EGXTC9+eeyDOttUzMbCm5ggLG\n\
                    +62t1wqbcPGdAiB4wEqRA4tamM28odf0LsUQP82iU7xhQbX1rNQNMLCbzQIgVRmN\n\
                    KzFAOlJ5cGzqn4w6eljHq80BH0gXxaPjz1kTisc=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-21T19:46:09.000Z"
                  not_after: "2021-01-21T19:46:09.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjA5WhcNMjEw\n\
                    MTIxMTk0NjA5WjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALNhkNv3VGUk94SWVDFg9bHD\n\
                    7RSAspQAtTdib17KkPbbJ3bkoTA5Yk6PP/2zvzoj3QGQbG5NcxReRK/MCt75DosC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAGWbmwBQfy8185z/qIQRGIPfIBBMFcXRF9oTsvOIYgdN9R0uZ/ZH4EXhPU3E\n\
                    LX+Sa5uZT8hosqo35u0Q/pDzlsI=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjEyMDQ2MDlaFw0yMjAxMjEyMDQ2MDlaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALkenFtCKMiFrVZb7LFYgtrNkPPQxICsv/gTXKyyj6/JB0x33T2OyqX8\n\
                    UdEykM1nnbynJjla9LO8b1jC8Z3J5ykCAwEAATANBgkqhkiG9w0BAQsFAANBAAfB\n\
                    OWBTg4fLb7HzTeeqiFDng5pdfedXZ7CmhNW2Tb/+z13eQlnrnTzLxCvdk/avliK7\n\
                    zRMla4qRyLCZdjMU8Pk=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "6e992de968455bb251dd672dedfdba3f22033ddc835fcd65b5cc8e52710d5555"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-21T20:46:09.869Z"
                  updated_at: "2020-01-21T20:46:09.869Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjEwWhcNMjEw\n\
                MTIxMTk0NjEwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANRuDfFhR2sb/8H2pfzJ1Kk3\n\
                KpYIaSSNCgRoubBGNhyD0ybT1qJBISa9LxVaYX9CwIPwhkrgZCN8M5sobJxHGc8C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAAwuSXdgoVa2NohNE4wONFvApcCJhogNkOCkv7ivLsM2914XhE0D7b2UsT+Q\n\
                +ftqYclXieTHHGFblkZjyxFvUcQ=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMjEyMDQ2MTBaFw0yMjAxMjEyMDQ2MTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBANkk0hw0UneiJNzprZriW+s1QgzfuyW8CwKz8Dx3evGYNjSS7N/sEYFb\n\
                bRjUg7XuNjARUjTrBDTVfQ8gTPQzjOMCAwEAATANBgkqhkiG9w0BAQsFAANBAIrl\n\
                rx2fWFVQfWZC6XN+5rVF56UniG6wnGVPK2GkD++Hh5cuqLpBxc36DGXv5Neeo7T9\n\
                rY3qTF8FceMzXP7K3L4=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBANRuDfFhR2sb/8H2pfzJ1Kk3KpYIaSSNCgRoubBGNhyD0ybT1qJB\n\
                ISa9LxVaYX9CwIPwhkrgZCN8M5sobJxHGc8CAwEAAQJAIi77i2YuCexdgabhGwaX\n\
                dAtujOoZkUoo3IDFsLn7pya8WzvNJnIDufjGQXKaFvTEpsx0VmDfnXVYz2Fwdw3R\n\
                cQIhAOugEJecgb2bXJMCWmP+t8WaxfjeKAeyok9Swl1EvY0NAiEA5syGKXXqpFuk\n\
                L0UhZ0DG5j1GcM8ZmvbS2He6ZMbOI0sCIQDAtF09kctuJcUVmmQQyf7EhuuIuTBl\n\
                80vZsiayHwkjdQIgB1mGADYAFeHRNawm5ynZ66UR5C/EKfooNrqBVgo6sEcCIAw2\n\
                n6fCdn/FQ704l7m6JcOEtmSVTqAJpzPt990hXH4b\n-----END RSA PRIVATE KEY-----\n"
              common_name: "www.health.io"
              not_before: "2020-01-21T19:46:10.000Z"
              not_after: "2021-01-21T19:46:10.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
              subject_locale: "New York"
              subject_organization: "Health Co."
              acme: false
              leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIxMTk0NjEwWhcNMjEw\n\
                MTIxMTk0NjEwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANRuDfFhR2sb/8H2pfzJ1Kk3\n\
                KpYIaSSNCgRoubBGNhyD0ybT1qJBISa9LxVaYX9CwIPwhkrgZCN8M5sobJxHGc8C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
[...]
