---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "2079-7433-1211"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-23T22:02:43.701Z"
                  updated_at: "2020-01-23T22:02:43.701Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/000ee880-f75c-494e-b71e-a16689a9eafb"
                    stack:
                      href: "https://api-rachel.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/apps"
                    backups:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/backups"
                    databases:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/databases"
                    disks:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/disks"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/services"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/operations"
                    permissions:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "5700-9860-3053"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-23T22:02:43.694Z"
                  updated_at: "2020-01-23T22:02:43.694Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/000ee880-f75c-494e-b71e-a16689a9eafb"
                    stack:
                      href: "https://api-rachel.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/apps"
                    backups:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/backups"
                    databases:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/databases"
                    disks:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/disks"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/services"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/operations"
                    permissions:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "3152-9634-2728"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-23T22:02:44.735Z"
                  updated_at: "2020-01-23T22:02:44.735Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/c213085e-49fb-4f3b-af4c-a46ed30dd6f7"
                    stack:
                      href: "https://api-rachel.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/apps"
                    backups:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/backups"
                    databases:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/databases"
                    disks:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/disks"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/services"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/operations"
                    permissions:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "5806-3967-3750"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2020-01-23T22:02:44.729Z"
                  updated_at: "2020-01-23T22:02:44.729Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/c213085e-49fb-4f3b-af4c-a46ed30dd6f7"
                    stack:
                      href: "https://api-rachel.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/apps"
                    backups:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/backups"
                    databases:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/databases"
                    disks:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/disks"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/services"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/operations"
                    permissions:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "6401-2327-0167"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-23T22:02:44.955Z"
              updated_at: "2020-01-23T22:02:44.955Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/f5d59760-2e5b-47be-9d9a-ce1e3f30aa63"
                stack:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/4"
                apps:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/apps"
                backups:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/backups"
                databases:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/databases"
                disks:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/disks"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/services"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/operations"
                permissions:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/permissions"
                log_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/certificates"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/6/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "5819-3877-9646"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-23T22:02:45.109Z"
              updated_at: "2020-01-23T22:02:45.109Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/706ee637-afb5-4666-8c91-f5516941d2fc"
                stack:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/6"
                apps:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/apps"
                backups:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/backups"
                databases:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/databases"
                disks:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/disks"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/services"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/operations"
                permissions:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/permissions"
                log_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/certificates"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_201"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "3546-6070-9150"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-23T22:02:45.572Z"
              updated_at: "2020-01-23T22:02:45.657Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/0303674a-3f21-474f-bb78-b5f56b429b8a"
                stack:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/10"
                apps:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/apps"
                backups:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/backups"
                databases:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/databases"
                disks:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/disks"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/services"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/operations"
                permissions:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/permissions"
                log_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/certificates"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "5491-7923-4006"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2020-01-23T22:02:45.336Z"
              updated_at: "2020-01-23T22:02:45.414Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/bb4ab0d6-25ae-4159-a619-9e517661ab37"
                stack:
                  href: "https://api-rachel.aptible-sandbox.com/stacks/8"
                apps:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/apps"
                backups:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/backups"
                databases:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/databases"
                disks:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/disks"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/services"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/operations"
                permissions:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/permissions"
                log_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/certificates"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2020-01-23T22:02:46.091Z"
                  updated_at: "2020-01-23T22:02:46.091Z"
                  starts_at: "2020-01-22T22:02:46.000Z"
                  ends_at: "2020-01-23T22:02:46.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-22 22:02:46\
                    \ UTC - 2020-01-23 22:02:46 UTC"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/activity_reports/2"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-rachel.aptible-sandbox.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2020-01-23T22:02:46.044Z"
                  updated_at: "2020-01-23T22:02:46.044Z"
                  starts_at: "2020-01-22T22:02:46.000Z"
                  ends_at: "2020-01-23T22:02:46.000Z"
                  filename: "Activity Report - dev-account-28 - 2020-01-22 22:02:46\
                    \ UTC - 2020-01-23 22:02:46 UTC"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/activity_reports/1"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-rachel.aptible-sandbox.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2020-01-23T22:02:46.584Z"
              updated_at: "2020-01-23T22:02:46.584Z"
              starts_at: "2020-01-22T22:02:46.000Z"
              ends_at: "2020-01-23T22:02:46.000Z"
              filename: "Activity Report - dev-account-36 - 2020-01-22 22:02:46 UTC\
                \ - 2020-01-23 22:02:46 UTC"
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/activity_reports/5"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/20"
                download:
                  href: "https://api-rachel.aptible-sandbox.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2020-01-23T22:02:46.790Z"
                  updated_at: "2020-01-23T22:02:46.790Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/operations"
                    images:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/images"
                    configurations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/configurations"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/services"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api-rachel.aptible-sandbox.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2020-01-23T22:02:46.783Z"
                  updated_at: "2020-01-23T22:02:46.783Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/operations"
                    images:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/images"
                    configurations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/configurations"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/services"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api-rachel.aptible-sandbox.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/22/apps?page=1"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2020-01-23T22:02:47.104Z"
              updated_at: "2020-01-23T22:02:47.104Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/24"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/operations"
                images:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/images"
                configurations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/configurations"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/services"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api-rachel.aptible-sandbox.com/apps/3/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2020-01-23T22:02:47.275Z"
                  updated_at: "2020-01-23T22:02:47.275Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/operations"
                    images:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/images"
                    configurations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/configurations"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/services"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api-rachel.aptible-sandbox.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2020-01-23T22:02:47.270Z"
                  updated_at: "2020-01-23T22:02:47.270Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/operations"
                    images:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/images"
                    configurations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/configurations"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/services"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api-rachel.aptible-sandbox.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2020-01-23T22:02:47.402Z"
              updated_at: "2020-01-23T22:02:47.402Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/27"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/operations"
                images:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/images"
                configurations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/configurations"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/services"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api-rachel.aptible-sandbox.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_201_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2020-01-23T22:02:47.872Z"
              updated_at: "2020-01-23T22:02:47.937Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "c8a20a7cc366196894e716e77941fdf8c79c8143"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "d1fffaf66deaf9440e46911d7b506baa6b95063f"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-23T22:02:47.878Z"
                  updated_at: "2020-01-23T22:02:47.878Z"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/images/2"
                    app:
                      href: "https://api-rachel.aptible-sandbox.com/apps/10"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/images/2/operations"
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/31"
                current_configuration:
                  href: "https://api-rachel.aptible-sandbox.com/configurations/2"
                current_image:
                  href: "https://api-rachel.aptible-sandbox.com/images/2"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/operations"
                images:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/images"
                configurations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/configurations"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/services"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api-rachel.aptible-sandbox.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2020-01-23T22:02:47.617Z"
              updated_at: "2020-01-23T22:02:47.717Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "f627125ceb9284e436f46fb182e2b2e1ef399eda"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "b223c44c3a74431039169e36358e72d7ef560f95"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2020-01-23T22:02:47.645Z"
                  updated_at: "2020-01-23T22:02:47.645Z"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/images/1"
                    app:
                      href: "https://api-rachel.aptible-sandbox.com/apps/8"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/images/1/operations"
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/29"
                current_configuration:
                  href: "https://api-rachel.aptible-sandbox.com/configurations/1"
                current_image:
                  href: "https://api-rachel.aptible-sandbox.com/images/1"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/operations"
                images:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/images"
                configurations:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/configurations"
                services:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/services"
                vhosts:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api-rachel.aptible-sandbox.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2020-01-23T22:02:48.298Z"
                  updated_at: "2020-01-23T22:02:48.298Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2020-01-23T22:02:48.331Z"
                      updated_at: "2020-01-23T22:02:48.331Z"
                      _links:
                        self:
                          href: "https://api-rachel.aptible-sandbox.com/services/1"
                        account:
                          href: "https://api-rachel.aptible-sandbox.com/accounts/36"
                        app:
                          href: "https://api-rachel.aptible-sandbox.com/apps/14"
                        operations:
                          href: "https://api-rachel.aptible-sandbox.com/services/1/operations"
                        releases:
                          href: "https://api-rachel.aptible-sandbox.com/services/1/releases"
                        vhosts:
                          href: "https://api-rachel.aptible-sandbox.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/35"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/operations"
                    images:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/images"
                    configurations:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/configurations"
                    services:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/services"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api-rachel.aptible-sandbox.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.199Z"
                  updated_at: "2020-01-23T22:02:49.199Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/2"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/2/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.196Z"
                  updated_at: "2020-01-23T22:02:49.196Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/1"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/1/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/38/backups?page=1"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.489Z"
                  updated_at: "2020-01-23T22:02:49.489Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/4"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/4/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.486Z"
                  updated_at: "2020-01-23T22:02:49.486Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/3"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/3/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/databases/2/backups?page=1"
                database:
                  href: "https://api-rachel.aptible-sandbox.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.731Z"
                  updated_at: "2020-01-23T22:02:49.731Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-23T22:02:49.725Z"
                      updated_at: "2020-01-23T22:02:49.725Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-rachel.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-rachel.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/7"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-rachel.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/7/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2020-01-23T22:02:49.728Z"
                  updated_at: "2020-01-23T22:02:49.728Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2020-01-23T22:02:49.725Z"
                      updated_at: "2020-01-23T22:02:49.725Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-rachel.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-rachel.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-rachel.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/backups/6"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-rachel.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-rachel.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-rachel.aptible-sandbox.com/backups/6/copies"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2020-01-23T22:02:49.936Z"
              updated_at: "2020-01-23T22:02:49.936Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/backups/9"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/44"
                database:
                  href: "https://api-rachel.aptible-sandbox.com/databases/6"
                copies:
                  href: "https://api-rachel.aptible-sandbox.com/backups/9/copies"
                operations:
                  href: "https://api-rachel.aptible-sandbox.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIzMjEwMjUwWhcNMjEw\n\
                    MTIzMjEwMjUwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALw/R4jR4C/hcwJVcGJlOGJa\n\
                    CeAXkqANpBQX8Qs2XUeONwkKp2YrpJjitAbvmf88VDC3JSr4kWfHVpYxCGoCP/8C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAJthwa5oLRkj0NOC2bI97IBKD69T7EIhmZz3UvRkT3BEbzKXj0mA8JHX0v7x\n\
                    YdjRb8VwWUGnu8QyowsbPEN/hZQ=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjMyMjAyNTBaFw0yMjAxMjMyMjAyNTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAK5vLcIERSdxunXK9CXKIOjWXbCTG0gUeQRpsUpb/p3MbsDA5CG7vEpX\n\
                    QjeYDn1D9fwcaHKkdLz3EsDjA5lG9aMCAwEAATANBgkqhkiG9w0BAQsFAANBAKWP\n\
                    uYso2LnxJwnyY6deFlh+dS97Rov7xETDCeZ6T/6nKWvh/dxMAmE8UW/JhXSipC/m\n\
                    hmdn2TOpRVDpUjG3DBQ=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBALw/R4jR4C/hcwJVcGJlOGJaCeAXkqANpBQX8Qs2XUeONwkKp2Yr\n\
                    pJjitAbvmf88VDC3JSr4kWfHVpYxCGoCP/8CAwEAAQJAKGZoQsvQElaPKTQO738L\n\
                    r8flEKvecu0ahplwyNg9Aqr648jRUosUU6TRWCb9mWs/rl6fZDuEM66suE4p3E+y\n\
                    sQIhAPgbsMJvoIttR9MYKBlEbPfcd+FdQX9ovjyTGrX2vypJAiEAwjwmRhipzl5P\n\
                    mUHFThYlfKlQZYPNO0E3pymtBmpHWAcCIQDIZl1cf5t2Yttb1yw0VH+LqIkwAAoy\n\
                    ZiEafltZ1KbN+QIgPVTs6PlktQtGqyf/e1a245Q7FLL3nRxMzHX2cq4gdQUCIQC7\n\
                    lcZkVYmjhxyap7xb4mz443Uxokj0sqmQkjx3St7vdA==\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-23T21:02:50.000Z"
                  not_after: "2021-01-23T21:02:50.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIzMjEwMjUwWhcNMjEw\n\
                    MTIzMjEwMjUwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALw/R4jR4C/hcwJVcGJlOGJa\n\
                    CeAXkqANpBQX8Qs2XUeONwkKp2YrpJjitAbvmf88VDC3JSr4kWfHVpYxCGoCP/8C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAJthwa5oLRkj0NOC2bI97IBKD69T7EIhmZz3UvRkT3BEbzKXj0mA8JHX0v7x\n\
                    YdjRb8VwWUGnu8QyowsbPEN/hZQ=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjMyMjAyNTBaFw0yMjAxMjMyMjAyNTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAK5vLcIERSdxunXK9CXKIOjWXbCTG0gUeQRpsUpb/p3MbsDA5CG7vEpX\n\
                    QjeYDn1D9fwcaHKkdLz3EsDjA5lG9aMCAwEAATANBgkqhkiG9w0BAQsFAANBAKWP\n\
                    uYso2LnxJwnyY6deFlh+dS97Rov7xETDCeZ6T/6nKWvh/dxMAmE8UW/JhXSipC/m\n\
                    hmdn2TOpRVDpUjG3DBQ=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "812ff167f32240c773758b46ef0512e1d0f345909df5de0b6a837ae2ebe15dcd"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-23T22:02:50.331Z"
                  updated_at: "2020-01-23T22:02:50.331Z"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/4"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/4/operations"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/4/vhosts"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIzMjEwMjUwWhcNMjEw\n\
                    MTIzMjEwMjUwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKw5s8pbW4Cn+j0RAkCvkRDz\n\
                    QLyAlhXC+xzMZugAq6BaZSpNtZXrSMwHGuidzV2ZkvRdlGMAOaak/WzH2o7pxuUC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAErSXK+5oMybDUZffwpvbYy+Ht2ruywqBJSzS0RmGQCEkWcpcr7SU3BBLVWH\n\
                    Pr93o1GhJJo1kN1Awy6gYIUWWyk=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjMyMjAyNTBaFw0yMjAxMjMyMjAyNTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAM9kBuZNRz6MIDIIUHUuuXdLScmjiAgznEBT3P6DOFHjLBxU5GBbmREp\n\
                    ZGd1yQ3wvAU9wXlmeWtcBwZADALz8vMCAwEAATANBgkqhkiG9w0BAQsFAANBALd5\n\
                    OXSjuS8FFcC6VAis41u/66mibqV45n3tJ/UtwYgTBLrd3pUy7TJq6g4dSalep3VE\n\
                    E0DuMU3h4HMfbzg+K+8=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBPAIBAAJBAKw5s8pbW4Cn+j0RAkCvkRDzQLyAlhXC+xzMZugAq6BaZSpNtZXr\n\
                    SMwHGuidzV2ZkvRdlGMAOaak/WzH2o7pxuUCAwEAAQJBAKlYX6H1LMcX5KXRKK7k\n\
                    MzdAiQIRSgKB45rQncs4hYm4W8L8HimDM2yxeXuvA4INavHajkjBjtABeHWh9Vy1\n\
                    5c0CIQDWmTyjpP6HKJpWL2vt7TKPkVgpkPSmUHj+ZpCml5FYhwIhAM1ztJpHdYe6\n\
                    1gGvzC5GjA7XwDWoVlWJRENbZSBm/rwzAiEAuACCFwqE110AIH/eug4UuTb1cgaB\n\
                    Tw1XAULuKnlxPYcCIQCRHiA8NStUIulUqarMKPJ27XgLrorEwj9gYGcOuxFFNwIg\n\
                    cQa0bZn+h1N+yYoEoEpqNgjiyOIjzZ3ZKLAgvUG8K+Y=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2020-01-23T21:02:50.000Z"
                  not_after: "2021-01-23T21:02:50.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIzMjEwMjUwWhcNMjEw\n\
                    MTIzMjEwMjUwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKw5s8pbW4Cn+j0RAkCvkRDz\n\
                    QLyAlhXC+xzMZugAq6BaZSpNtZXrSMwHGuidzV2ZkvRdlGMAOaak/WzH2o7pxuUC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAErSXK+5oMybDUZffwpvbYy+Ht2ruywqBJSzS0RmGQCEkWcpcr7SU3BBLVWH\n\
                    Pr93o1GhJJo1kN1Awy6gYIUWWyk=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xOTAxMjMyMjAyNTBaFw0yMjAxMjMyMjAyNTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAM9kBuZNRz6MIDIIUHUuuXdLScmjiAgznEBT3P6DOFHjLBxU5GBbmREp\n\
                    ZGd1yQ3wvAU9wXlmeWtcBwZADALz8vMCAwEAATANBgkqhkiG9w0BAQsFAANBALd5\n\
                    OXSjuS8FFcC6VAis41u/66mibqV45n3tJ/UtwYgTBLrd3pUy7TJq6g4dSalep3VE\n\
                    E0DuMU3h4HMfbzg+K+8=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "5b81ce6d11b6d7eb0a4fa54e442bf5cbf6fab6122f118404355f1625c65739f2"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2020-01-23T22:02:50.231Z"
                  updated_at: "2020-01-23T22:02:50.231Z"
                  _links:
                    self:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/3"
                    account:
                      href: "https://api-rachel.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/3/operations"
                    vhosts:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/3/vhosts"
                    apps:
                      href: "https://api-rachel.aptible-sandbox.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api-rachel.aptible-sandbox.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMjAwMTIzMjEwMjUwWhcNMjEw\n\
                MTIzMjEwMjUwWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAL+GD5xIwvx9GB9P5M07UXyR\n\
                RjwR12GhMCtm2ld5UrX5KxklYbGqjGClrAYe22UOJk2D/wjPFm4PCEEIAjzbMC0C\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAMdxpSW9VWX4z8qn1o/c43Sjf6q5aY0FBQXzZVmkxuwsFPkwuHD6WpA5YDJv\n\
                NiudSOjnRcFAemaxbl+uT1vTO4A=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xOTAxMjMyMjAyNTBaFw0yMjAxMjMyMjAyNTBaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBANRXNUQhv5t7ZPokAa1g9CrPujewb8OY/TQzFChm0w30Jgt9xGmhKeqJ\n\
                A0QG/he02fPxYwp1w2vg/tEtjOxdyaMCAwEAATANBgkqhkiG9w0BAQsFAANBABck\n\
                3fgQjDeWegZo2/z3p77tzvMie57rethZzLRMOGIuUZXtMQ/qVVcGEoIC6iYwW27k\n\
                E6H36o1ts+lP9tRTIpA=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAL+GD5xIwvx9GB9P5M07UXyRRjwR12GhMCtm2ld5UrX5KxklYbGq\n\
                jGClrAYe22UOJk2D/wjPFm4PCEEIAjzbMC0CAwEAAQJAI9HN35vYI+K9fTWzBBNB\n\
                BTwiV5+6mX7NBIEC+vMs3e19iiGh3zyOspu8zkdzS3iJlyUaCfcT/JnOLLXVyk5D\n\
                fQIhAPob3McRW5su+y/Tl+fIvNjvCIHWa04l1GOGMyuKwf0HAiEAxAjvNjV8/0ni\n\
                eNBAyJDwLlF0t9fouRAc2APen63Q0CsCIQDkAEJjtw8riMiz8NCqG/UMTdwTgMSR\n\
                mSrlD5HWP8hYQQIgZCwwmKHSgt1tddDtGdA+e1yyaPNSf6bFJnkrvKrkRksCIQD3\n\
                tOhD/E0z04hJQlEBlWQO80GogIUq7E3Nx8KlgXxC0w==\n-----END RSA PRIVATE\
                \ KEY-----\n"
              common_name: "www.health.io"
              not_before: "2020-01-23T21:02:50.000Z"
              not_after: "2021-01-23T21:02:50.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
[...]
