---
swagger: "2.0"
info:
  version: "v1"
  title: "Deploy API v1"
host: "api.aptible.com"
schemes:
- "https"
consumes:
- "application/hal+json"
- "application/json"
produces:
- "application/json"
security:
- token: []
paths:
  /stacks/{stack_id}/accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "stack_id"
        in: "path"
        description: "stack_id"
        required: true
        type: "integer"
        x-exportParamName: "StackId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 2
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-2"
                  number: "8153-2800-6579"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2019-12-19T15:35:48.173Z"
                  updated_at: "2019-12-19T15:35:48.173Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:3"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/3e78feb0-6b00-4894-a904-08886ff52c88"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/2/activity_reports"
                - id: 1
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-0"
                  number: "9792-1497-9282"
                  activated: true
                  bastion_host: "bastion-layer-stack-0.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2019-12-19T15:35:48.165Z"
                  updated_at: "2019-12-19T15:35:48.165Z"
                  sweetness_stack: "stack-0"
                  gentlemanjerry_endpoint: "jerry:1"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/3e78feb0-6b00-4894-a904-08886ff52c88"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/1"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/1/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1/accounts?page=1"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts:
    get:
      summary: "list accounts"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                accounts:
                - id: 4
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-6"
                  number: "8667-6349-7479"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2019-12-19T15:35:48.859Z"
                  updated_at: "2019-12-19T15:35:48.859Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:7"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/cc4baa00-010f-4078-a420-c770962ad671"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/4/activity_reports"
                - id: 3
                  type: "development"
                  _type: "account"
                  name: "Dev Account"
                  handle: "dev-account-4"
                  number: "7471-3239-4032"
                  activated: true
                  bastion_host: "bastion-layer-stack-2.aptible.in"
                  bastion_port: 42022
                  ssh_portal_port: 1022
                  container_count: 0
                  domain_count: 0
                  total_disk_size: 0
                  total_app_count: 0
                  app_container_count: 0
                  database_container_count: 0
                  total_database_count: 0
                  created_at: "2019-12-19T15:35:48.852Z"
                  updated_at: "2019-12-19T15:35:48.852Z"
                  sweetness_stack: "stack-2"
                  gentlemanjerry_endpoint: "jerry:5"
                  gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                  gentlemanjerry_docker_name: "deadbeef"
                  sweetness_stack_version: "v2"
                  _embedded:
                    log_drains: []
                    permissions: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3"
                    organization:
                      href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/cc4baa00-010f-4078-a420-c770962ad671"
                    stack:
                      href: "https://api-bob.aptible-sandbox.com/stacks/3"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/apps"
                    backups:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/backups"
                    databases:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/databases"
                    disks:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/disks"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/services"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/operations"
                    permissions:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/permissions"
                    log_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/log_drains"
                    metric_drains:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/metric_drains"
                    certificates:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/certificates"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/vhosts"
                    activity_reports:
                      href: "https://api-bob.aptible-sandbox.com/accounts/3/activity_reports"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts?page=1"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create account"
      parameters:
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              type: "development"
              _type: "account"
              name: "test-name"
              handle: "tester"
              number: "3781-4139-6194"
              activated: true
              bastion_host: "bastion-layer-stack-3.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2019-12-19T15:35:49.050Z"
              updated_at: "2019-12-19T15:35:49.050Z"
              sweetness_stack: "stack-3"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/479a1a57-7604-46e8-9d49-367d9ecf9e7c"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/4"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/6/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{id}:
    get:
      summary: "show account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              type: "development"
              _type: "account"
              name: "Dev Account"
              handle: "dev-account-12"
              number: "3644-5023-4407"
              activated: true
              bastion_host: "bastion-layer-stack-5.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2019-12-19T15:35:49.141Z"
              updated_at: "2019-12-19T15:35:49.141Z"
              sweetness_stack: "stack-5"
              gentlemanjerry_endpoint: "jerry:13"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/5e086bf0-d517-4939-b3fc-12f0b46d1d03"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/6"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/8/activity_reports"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_1"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 12
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "1785-1182-0474"
              activated: true
              bastion_host: "bastion-layer-stack-9.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2019-12-19T15:35:49.538Z"
              updated_at: "2019-12-19T15:35:49.602Z"
              sweetness_stack: "stack-9"
              gentlemanjerry_endpoint: "jerry:21"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/c7c93a89-0821-4abd-89df-5105ab45dba3"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/10"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/12/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update account"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_2"
        x-exportParamName: "AppRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              type: "development"
              _type: "account"
              name: "put_account"
              handle: "put_handle"
              number: "9056-7478-5164"
              activated: true
              bastion_host: "bastion-layer-stack-7.aptible.in"
              bastion_port: 42022
              ssh_portal_port: 1022
              container_count: 0
              domain_count: 0
              total_disk_size: 0
              total_app_count: 0
              app_container_count: 0
              database_container_count: 0
              total_database_count: 0
              created_at: "2019-12-19T15:35:49.371Z"
              updated_at: "2019-12-19T15:35:49.429Z"
              sweetness_stack: "stack-7"
              gentlemanjerry_endpoint: "jerry:17"
              gentlemanjerry_certificate: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
              gentlemanjerry_docker_name: "deadbeef"
              sweetness_stack_version: "v2"
              _embedded:
                log_drains: []
                permissions: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10"
                organization:
                  href: "http://AptibleApiShared.Testing.StubAuthApi/organizations/1932e0e2-2579-48fb-a0a6-c0230cda03bd"
                stack:
                  href: "https://api-bob.aptible-sandbox.com/stacks/8"
                apps:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/apps"
                backups:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/backups"
                databases:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/databases"
                disks:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/disks"
                services:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/services"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/operations"
                permissions:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/permissions"
                log_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/log_drains"
                metric_drains:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/metric_drains"
                certificates:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/certificates"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/vhosts"
                activity_reports:
                  href: "https://api-bob.aptible-sandbox.com/accounts/10/activity_reports"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/activity_reports:
    get:
      summary: "list activity_reports"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                activity_reports:
                - id: 2
                  _type: "activity_report"
                  created_at: "2019-12-19T15:35:49.903Z"
                  updated_at: "2019-12-19T15:35:49.903Z"
                  starts_at: "2019-12-18T15:35:49.000Z"
                  ends_at: "2019-12-19T15:35:49.000Z"
                  filename: "Activity Report - dev-account-28 - 2019-12-18 15:35:49\
                    \ UTC - 2019-12-19 15:35:49 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/2/download"
                - id: 1
                  _type: "activity_report"
                  created_at: "2019-12-19T15:35:49.900Z"
                  updated_at: "2019-12-19T15:35:49.900Z"
                  starts_at: "2019-12-18T15:35:49.000Z"
                  ends_at: "2019-12-19T15:35:49.000Z"
                  filename: "Activity Report - dev-account-28 - 2019-12-18 15:35:49\
                    \ UTC - 2019-12-19 15:35:49 UTC"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/16"
                    download:
                      href: "https://api-bob.aptible-sandbox.com/activity_reports/1/download"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16/activity_reports?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/16"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{activity_report_id}/download:
    get:
      summary: "download activity_report"
      parameters:
      - name: "activity_report_id"
        in: "path"
        description: "activity_report_id"
        required: true
        type: "integer"
        x-exportParamName: "ActivityReportId"
      responses:
        "302":
          description: "Redirection to file download URL"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /activity_reports/{id}:
    get:
      summary: "show activity_report"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 5
              _type: "activity_report"
              created_at: "2019-12-19T15:35:50.287Z"
              updated_at: "2019-12-19T15:35:50.287Z"
              starts_at: "2019-12-18T15:35:50.000Z"
              ends_at: "2019-12-19T15:35:50.000Z"
              filename: "Activity Report - dev-account-36 - 2019-12-18 15:35:50 UTC\
                \ - 2019-12-19 15:35:50 UTC"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/20"
                download:
                  href: "https://api-bob.aptible-sandbox.com/activity_reports/5/download"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 2
                  handle: "healthio-www-1"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-1.git"
                  _type: "app"
                  created_at: "2019-12-19T15:35:50.453Z"
                  updated_at: "2019-12-19T15:35:50.453Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/2/ephemeral_sessions"
                - id: 1
                  handle: "healthio-www-0"
                  git_repo: "git@aptible.com:dev-account-40/healthio-www-0.git"
                  _type: "app"
                  created_at: "2019-12-19T15:35:50.448Z"
                  updated_at: "2019-12-19T15:35:50.448Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/22"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/1/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22/apps?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/22"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create app"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_3"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 3
              handle: "healthio-www-9"
              git_repo: "git@aptible.com:dev-account-44/healthio-www-9.git"
              _type: "app"
              created_at: "2019-12-19T15:35:50.736Z"
              updated_at: "2019-12-19T15:35:50.736Z"
              status: "pending"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/3"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/24"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/3/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps:
    get:
      summary: "list apps"
      parameters:
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 5
                  handle: "healthio-www-3"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-3.git"
                  _type: "app"
                  created_at: "2019-12-19T15:35:50.840Z"
                  updated_at: "2019-12-19T15:35:50.840Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/5"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/5/ephemeral_sessions"
                - id: 4
                  handle: "healthio-www-2"
                  git_repo: "git@aptible.com:dev-account-48/healthio-www-2.git"
                  _type: "app"
                  created_at: "2019-12-19T15:35:50.836Z"
                  updated_at: "2019-12-19T15:35:50.836Z"
                  status: "provisioned"
                  _embedded:
                    services: []
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/26"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/4/ephemeral_sessions"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /apps/{id}:
    get:
      summary: "show app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 6
              handle: "healthio-www-4"
              git_repo: "git@aptible.com:dev-account-50/healthio-www-4.git"
              _type: "app"
              created_at: "2019-12-19T15:35:50.942Z"
              updated_at: "2019-12-19T15:35:50.942Z"
              status: "provisioned"
              _embedded:
                services: []
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/6"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/27"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/6/ephemeral_sessions"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    put:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 10
              handle: "healthio-www-8"
              git_repo: "git@aptible.com:dev-account-58/healthio-www-8.git"
              _type: "app"
              created_at: "2019-12-19T15:35:51.254Z"
              updated_at: "2019-12-19T15:35:51.300Z"
              status: "provision_failed"
              _embedded:
                services: []
                current_image:
                  id: 2
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "06f66b66c10121d27e772abecb55ce4cb56640de"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "f05410db054ccb407998978afa4746f653c2a3ee"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2019-12-19T15:35:51.259Z"
                  updated_at: "2019-12-19T15:35:51.259Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/2"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/10"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/2/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/10"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/31"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/2"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/2"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/10/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    delete:
      summary: "delete app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "successful"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    patch:
      summary: "update app"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "patch_request"
        required: false
        schema:
          $ref: "#/definitions/patch_request_1"
        x-exportParamName: "PatchRequest"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 8
              handle: "healthio-www-6"
              git_repo: "git@aptible.com:dev-account-54/healthio-www-6.git"
              _type: "app"
              created_at: "2019-12-19T15:35:51.083Z"
              updated_at: "2019-12-19T15:35:51.149Z"
              status: "deprovisioning"
              _embedded:
                services: []
                current_image:
                  id: 1
                  git_repo: "git@aptible.com:healthio/healthio-www.git"
                  git_ref: "36d3abdf33d380be2263ce5fa07502b8b0645b4e"
                  docker_repo: "quay.io/aptible/healthio-www"
                  docker_ref: "9420813d2ff17a3dd13bed7300c2ac7c5d0ea7be"
                  exposed_ports: []
                  _type: "image"
                  created_at: "2019-12-19T15:35:51.100Z"
                  updated_at: "2019-12-19T15:35:51.100Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/images/1"
                    app:
                      href: "https://api-bob.aptible-sandbox.com/apps/8"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/images/1/operations"
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/apps/8"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/29"
                current_configuration:
                  href: "https://api-bob.aptible-sandbox.com/configurations/1"
                current_image:
                  href: "https://api-bob.aptible-sandbox.com/images/1"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/operations"
                images:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/images"
                configurations:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/configurations"
                services:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/services"
                vhosts:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/vhosts"
                ephemeral_sessions:
                  href: "https://api-bob.aptible-sandbox.com/apps/8/ephemeral_sessions"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /certificates/{certificate_id}/apps:
    get:
      summary: "list apps"
      parameters:
      - name: "certificate_id"
        in: "path"
        description: "certificate_id"
        required: true
        type: "integer"
        x-exportParamName: "CertificateId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                apps:
                - id: 14
                  handle: "healthio-www-12"
                  git_repo: "git@aptible.com:dev-account-66/healthio-www-12.git"
                  _type: "app"
                  created_at: "2019-12-19T15:35:51.539Z"
                  updated_at: "2019-12-19T15:35:51.539Z"
                  status: "provisioned"
                  _embedded:
                    services:
                    - id: 1
                      handle: "healthio-mysql-0"
                      docker_repo: "quay.io/aptible/mysql"
                      docker_ref: "latest"
                      process_type: "worker"
                      command: "/usr/bin/mysqld"
                      container_count: 1
                      _type: "service"
                      created_at: "2019-12-19T15:35:51.567Z"
                      updated_at: "2019-12-19T15:35:51.567Z"
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/services/1"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/36"
                        app:
                          href: "https://api-bob.aptible-sandbox.com/apps/14"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/services/1/operations"
                        releases:
                          href: "https://api-bob.aptible-sandbox.com/services/1/releases"
                        vhosts:
                          href: "https://api-bob.aptible-sandbox.com/services/1/vhosts"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/apps/14"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/35"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/operations"
                    images:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/images"
                    configurations:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/configurations"
                    services:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/services"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/vhosts"
                    ephemeral_sessions:
                      href: "https://api-bob.aptible-sandbox.com/apps/14/ephemeral_sessions"
              total_count: 1
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/certificates/1/apps?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 2
                  _type: "backup"
                  aws_snapshot_id: "snap-1"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.145Z"
                  updated_at: "2019-12-19T15:35:52.145Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/2"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/2/operations"
                - id: 1
                  _type: "backup"
                  aws_snapshot_id: "snap-0"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.142Z"
                  updated_at: "2019-12-19T15:35:52.142Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/1"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/38"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/1"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/1/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38/backups?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/38"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /databases/{database_id}/backups:
    get:
      summary: "list backups"
      parameters:
      - name: "database_id"
        in: "path"
        description: "database_id"
        required: true
        type: "integer"
        x-exportParamName: "DatabaseId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 4
                  _type: "backup"
                  aws_snapshot_id: "snap-3"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.334Z"
                  updated_at: "2019-12-19T15:35:52.334Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/4/operations"
                - id: 3
                  _type: "backup"
                  aws_snapshot_id: "snap-2"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.332Z"
                  updated_at: "2019-12-19T15:35:52.332Z"
                  _embedded: {}
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/40"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/2"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/3/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/databases/2/backups?page=1"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/2"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{backup_id}/copies:
    get:
      summary: "list backups"
      parameters:
      - name: "backup_id"
        in: "path"
        description: "backup_id"
        required: true
        type: "integer"
        x-exportParamName: "BackupId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                backups:
                - id: 7
                  _type: "backup"
                  aws_snapshot_id: "snap-6"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.485Z"
                  updated_at: "2019-12-19T15:35:52.485Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2019-12-19T15:35:52.481Z"
                      updated_at: "2019-12-19T15:35:52.481Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/7"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/7/operations"
                - id: 6
                  _type: "backup"
                  aws_snapshot_id: "snap-5"
                  aws_region: "us-east-1"
                  created_at: "2019-12-19T15:35:52.483Z"
                  updated_at: "2019-12-19T15:35:52.483Z"
                  _embedded:
                    copied_from:
                      id: 5
                      _type: "backup"
                      aws_snapshot_id: "snap-4"
                      aws_region: "us-east-1"
                      created_at: "2019-12-19T15:35:52.481Z"
                      updated_at: "2019-12-19T15:35:52.481Z"
                      _embedded: {}
                      _links:
                        self:
                          href: "https://api-bob.aptible-sandbox.com/backups/5"
                        account:
                          href: "https://api-bob.aptible-sandbox.com/accounts/42"
                        database:
                          href: "https://api-bob.aptible-sandbox.com/databases/4"
                        copies:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/copies"
                        operations:
                          href: "https://api-bob.aptible-sandbox.com/backups/5/operations"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/backups/6"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/42"
                    database:
                      href: "https://api-bob.aptible-sandbox.com/databases/4"
                    copied_from:
                      href: "https://api-bob.aptible-sandbox.com/backups/5"
                    copies:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/copies"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/backups/6/operations"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/5/copies?page=1"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /backups/{id}:
    get:
      summary: "show backup"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              id: 9
              _type: "backup"
              aws_snapshot_id: "snap-8"
              aws_region: "us-east-1"
              created_at: "2019-12-19T15:35:52.636Z"
              updated_at: "2019-12-19T15:35:52.636Z"
              _embedded: {}
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/backups/9"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/44"
                database:
                  href: "https://api-bob.aptible-sandbox.com/databases/6"
                copies:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/copies"
                operations:
                  href: "https://api-bob.aptible-sandbox.com/backups/9/operations"
          schema:
            $ref: "#/definitions/inline_response_200_7"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
  /accounts/{account_id}/certificates:
    get:
      summary: "list certificates"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - name: "page"
        in: "query"
        description: "current page of results for pagination"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful"
          examples:
            application/json:
              _embedded:
                certificates:
                - id: 4
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUyWhcNMjAx\n\
                    MjE5MTQzNTUyWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK9jIrrghlcPHPC1mA3w1dXC\n\
                    XYl7WJokXe6YAIR6v4vdY2g1XfcFxMfb2LPFOHsdbdZ6EN/ak5CmyteOVZXfS+EC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAEc1CLVPTsCeWlbyxLTrJt2TJQNNBwaLvzvQCnPb49edwh9265uiJupPOOwe\n\
                    S6wVpQxnw56j3smXMWIyEuUn6/Y=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xODEyMTkxNTM1NTJaFw0yMTEyMTkxNTM1NTJaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJ+31gq6l2qOXOYECYAA2XTyvdR7bVh+1HPRoHYbpFdPf67kSKs7tT53\n\
                    YMKJkOJcqq5CC9bIULxihv9OXAwtVCUCAwEAATANBgkqhkiG9w0BAQsFAANBAGRH\n\
                    Gx1Rs/WvsQsNFUX4ezP1TAhp1lxW5Sxf6t6bO7bz/xW/OUtMTWg7nHhNY/39GUzU\n\
                    nYy2+z+zLtoqZkX1Rew=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBPAIBAAJBAK9jIrrghlcPHPC1mA3w1dXCXYl7WJokXe6YAIR6v4vdY2g1XfcF\n\
                    xMfb2LPFOHsdbdZ6EN/ak5CmyteOVZXfS+ECAwEAAQJBAJsJqnDB+19IJ9AM5s4k\n\
                    ABMGzwKyO59+2F4KliKGE38BjOlZdCDfXgPB0LMEjBXXnGLKtpK0Gxs/cBBIZgWO\n\
                    TQECIQDiQiGIoVvZjCKyezt7fNLpMU+YAN/pnabExP2MvVFUsQIhAMZxIX6U1Yit\n\
                    lfJDof9fTg6CMuASkRjklnEOJie7rPYxAiEAqEob+y5ZzSRIooy6n40mq0B8PUlZ\n\
                    QsB6TJ1hIg+msOECIBJ7hvsbMahBQq4FzpjSb5q6VbK5B/qhj8GH59XbjQiBAiEA\n\
                    351s7NNgUOMGG35LzCclUVARBAAzLNNVr45JOQlUF00=\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2019-12-19T14:35:52.000Z"
                  not_after: "2020-12-19T14:35:52.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUyWhcNMjAx\n\
                    MjE5MTQzNTUyWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK9jIrrghlcPHPC1mA3w1dXC\n\
                    XYl7WJokXe6YAIR6v4vdY2g1XfcFxMfb2LPFOHsdbdZ6EN/ak5CmyteOVZXfS+EC\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBAEc1CLVPTsCeWlbyxLTrJt2TJQNNBwaLvzvQCnPb49edwh9265uiJupPOOwe\n\
                    S6wVpQxnw56j3smXMWIyEuUn6/Y=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xODEyMTkxNTM1NTJaFw0yMTEyMTkxNTM1NTJaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBAJ+31gq6l2qOXOYECYAA2XTyvdR7bVh+1HPRoHYbpFdPf67kSKs7tT53\n\
                    YMKJkOJcqq5CC9bIULxihv9OXAwtVCUCAwEAATANBgkqhkiG9w0BAQsFAANBAGRH\n\
                    Gx1Rs/WvsQsNFUX4ezP1TAhp1lxW5Sxf6t6bO7bz/xW/OUtMTWg7nHhNY/39GUzU\n\
                    nYy2+z+zLtoqZkX1Rew=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "aea492ac7d53d53f14040fff7f1d5b8667877e46db7de2aabf7674e02b334e34"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2019-12-19T15:35:52.948Z"
                  updated_at: "2019-12-19T15:35:52.948Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/4/apps"
                - id: 3
                  certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUyWhcNMjAx\n\
                    MjE5MTQzNTUyWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANlMR68/N0aMoHYTbhdM5Ckb\n\
                    FCHl0k1I3sWOVbTN7JDhN76dkxvemVUMTBiIeWjZ0FTDuttXXqy+hW8E3XTfdq0C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBADPFPNcy3LvK/tAnZbbbdn13MtG2VOfC9zDAlHCHx3LAYEm18Y5eqV33n4M9\n\
                    Q0WoY//rncPHAtrjvQKEvaxHx54=\n-----END CERTIFICATE-----\n-----BEGIN\
                    \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xODEyMTkxNTM1NTJaFw0yMTEyMTkxNTM1NTJaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALdm0eutC7MB7JvEz32IgeXzDxtVhl8JVHRa7Cx8AfkpSvlP0fMbeVgX\n\
                    RiGIt0xhb65fTPAiVCBqxN+oKvCs/08CAwEAATANBgkqhkiG9w0BAQsFAANBADtL\n\
                    tntgI7kZ2HlvJNV0RWHdaHyx/MlefmmW3yYeJY8OBooieKdg57m/pLxxeWEfqe2f\n\
                    qEthBCGdm8bmO355IVY=\n-----END CERTIFICATE-----\n"
                  private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBANlMR68/N0aMoHYTbhdM5CkbFCHl0k1I3sWOVbTN7JDhN76dkxve\n\
                    mVUMTBiIeWjZ0FTDuttXXqy+hW8E3XTfdq0CAwEAAQJAPV6SvEbBSLZ8tvxD0mbP\n\
                    5WAVboFmxJb4+5h4Uij6T+wWCCVxw+MLpyhQGzaWhtOfQMdEQVSgYd0x2Biow475\n\
                    4QIhAPqBNFl5Hq7t/Bk3dj5DAc6qqZ8ORmNP1LAOUnfviExVAiEA3hCXdrkhir5r\n\
                    yOJVheKp/UK4mUvYCw3xkbK1WDLQWPkCIQDURwkFiQ3nTuSCue0Jdd7iMtzqXD5p\n\
                    igzB5GEeIW1uwQIgWhEWrbOW1CQ5qUeLcnslgTAPmTV20bz9DqASB0zMzlkCIQDP\n\
                    qmJDjhVQpPBvy0SDagrAvPjLwp471xazYKjRNbXwMg==\n-----END RSA PRIVATE\
                    \ KEY-----\n"
                  common_name: "www.health.io"
                  not_before: "2019-12-19T14:35:52.000Z"
                  not_after: "2020-12-19T14:35:52.000Z"
                  issuer_country: "CA"
                  issuer_organization: "Certs, Inc."
                  issuer_common_name: "Intermediate CA"
                  subject_country: "US"
                  subject_state: "NY"
                  subject_locale: "New York"
                  subject_organization: "Health Co."
                  acme: false
                  leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                    YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                    dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUyWhcNMjAx\n\
                    MjE5MTQzNTUyWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                    UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                    dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANlMR68/N0aMoHYTbhdM5Ckb\n\
                    FCHl0k1I3sWOVbTN7JDhN76dkxvemVUMTBiIeWjZ0FTDuttXXqy+hW8E3XTfdq0C\n\
                    AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                    AANBADPFPNcy3LvK/tAnZbbbdn13MtG2VOfC9zDAlHCHx3LAYEm18Y5eqV33n4M9\n\
                    Q0WoY//rncPHAtrjvQKEvaxHx54=\n-----END CERTIFICATE-----\n"
                  certificate_chain: "-----BEGIN CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                    Fw0xODEyMTkxNTM1NTJaFw0yMTEyMTkxNTM1NTJaMF4xGDAWBgNVBAMMD0ludGVy\n\
                    bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                    YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                    SwAwSAJBALdm0eutC7MB7JvEz32IgeXzDxtVhl8JVHRa7Cx8AfkpSvlP0fMbeVgX\n\
                    RiGIt0xhb65fTPAiVCBqxN+oKvCs/08CAwEAATANBgkqhkiG9w0BAQsFAANBADtL\n\
                    tntgI7kZ2HlvJNV0RWHdaHyx/MlefmmW3yYeJY8OBooieKdg57m/pLxxeWEfqe2f\n\
                    qEthBCGdm8bmO355IVY=\n-----END CERTIFICATE-----\n"
                  sha256_fingerprint: "3399f26d22800cebf015a6d9add8efa5d2d9c8768a2fd4aa2a32b9f5b217bd3a"
                  trusted: false
                  self_signed: false
                  subject_alternative_names:
                  - "www.health.io"
                  private_key_algorithm: "rsa"
                  _type: "certificate"
                  created_at: "2019-12-19T15:35:52.867Z"
                  updated_at: "2019-12-19T15:35:52.867Z"
                  _links:
                    self:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3"
                    account:
                      href: "https://api-bob.aptible-sandbox.com/accounts/46"
                    operations:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/operations"
                    vhosts:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/vhosts"
                    apps:
                      href: "https://api-bob.aptible-sandbox.com/certificates/3/apps"
              total_count: 2
              per_page: 40
              current_page: 1
              _links:
                self:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46/certificates?page=1"
                account:
                  href: "https://api-bob.aptible-sandbox.com/accounts/46"
          schema:
            $ref: "#/definitions/inline_response_200_8"
        default:
          description: "Error response. Often a 4xx or 5xx status code"
          examples:
            application/json:
              code: 400
              error: "invalid_token"
              message: "Invalid Token"
          schema:
            $ref: "#/definitions/inline_response_default"
    post:
      summary: "create certificate"
      parameters:
      - name: "account_id"
        in: "path"
        description: "account_id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "app_request"
        required: false
        schema:
          $ref: "#/definitions/app_request_4"
        x-exportParamName: "AppRequest"
      responses:
        "201":
          description: "successful"
          examples:
            application/json:
              id: 6
              certificate_body: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUzWhcNMjAx\n\
                MjE5MTQzNTUzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJ787QvqbysicUzicim02Fba\n\
                cb0EH7qLarfuFDTU/e8ZL92kDJ6HZdsZuJZacQCZomjLjYsBW+wa+HDyuMwY1FMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAMU6Ygy1XO14Kh6IfNotNvunyRdmNeQjGQHsRIOWYEdrmuVCJoFQB9/MtBPJ\n\
                MxtHDPqudFiDDzJErfHDAYvGfZc=\n-----END CERTIFICATE-----\n-----BEGIN\
                \ CERTIFICATE-----\nMIIBWjCCAQQCAQAwDQYJKoZIhvcNAQELBQAwEjEQMA4GA1UEAwwHUm9vdCBDQTAe\n\
                Fw0xODEyMTkxNTM1NTNaFw0yMTEyMTkxNTM1NTNaMF4xGDAWBgNVBAMMD0ludGVy\n\
                bWVkaWF0ZSBDQTELMAkGA1UEBhMCQ0ExCzAJBgNVBAgMAkJDMRIwEAYDVQQHDAlW\n\
                YW5jb3V2ZXIxFDASBgNVBAoMC0NlcnRzLCBJbmMuMFwwDQYJKoZIhvcNAQEBBQAD\n\
                SwAwSAJBAOUc0x5zMBARyRVyEfWABqyDwiH03Sgpklg6TW6i4vy8WWiQfhJSj3LP\n\
                gSY+4CMkI2N14qXj5J4o/XVZukzYTD0CAwEAATANBgkqhkiG9w0BAQsFAANBAHVN\n\
                COCFia55a6sUtKODjLjzobQGdh/WrlW8qqPfUbD2mewlBvPTSDd7vHgMpD8sp8/s\n\
                enV5HANSmgx0isZ+Tn8=\n-----END CERTIFICATE-----\n"
              private_key: "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAJ787QvqbysicUzicim02Fbacb0EH7qLarfuFDTU/e8ZL92kDJ6H\n\
                ZdsZuJZacQCZomjLjYsBW+wa+HDyuMwY1FMCAwEAAQJAHpug4z9h4ZMC7wNVaTQY\n\
                xjfN187YcOhwRjK+jyFGNeZ8w1EV3gMH/K+6Xizx+DXDZ6FgO3DX+qgZPBPLlI9P\n\
                IQIhAMq3nl/+833uiTgO0RJJKB5hRYqM4+Kbprmm9sJ44yQjAiEAyMbdX90uNkpF\n\
                FS0y5ATvyeu10WMY655TawnBXxNWuhECIG+yk0qTwXjfSa6gw2SO+NMch+Pa0+pW\n\
                F5zuOcNYNtf/AiBEYC1eC2ZEiPCT8KunKeM7wfFOmNAQ1f+UsWLQbTaY8QIhAJNe\n\
                QMUIEq60NBw+gm1H4Nrbf7crfpz8mZY6CsvvhPtg\n-----END RSA PRIVATE KEY-----\n"
              common_name: "www.health.io"
              not_before: "2019-12-19T14:35:53.000Z"
              not_after: "2020-12-19T14:35:53.000Z"
              issuer_country: "CA"
              issuer_organization: "Certs, Inc."
              issuer_common_name: "Intermediate CA"
              subject_country: "US"
              subject_state: "NY"
              subject_locale: "New York"
              subject_organization: "Health Co."
              acme: false
              leaf_certificate: "-----BEGIN CERTIFICATE-----\nMIIBwDCCAWoCAQAwDQYJKoZIhvcNAQELBQAwXjEYMBYGA1UEAwwPSW50ZXJtZWRp\n\
                YXRlIENBMQswCQYDVQQGEwJDQTELMAkGA1UECAwCQkMxEjAQBgNVBAcMCVZhbmNv\n\
                dXZlcjEUMBIGA1UECgwLQ2VydHMsIEluYy4wHhcNMTkxMjE5MTQzNTUzWhcNMjAx\n\
                MjE5MTQzNTUzWjBaMRYwFAYDVQQDDA13d3cuaGVhbHRoLmlvMQswCQYDVQQGEwJV\n\
                UzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRMwEQYDVQQKDApIZWFs\n\
                dGggQ28uMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJ787QvqbysicUzicim02Fba\n\
                cb0EH7qLarfuFDTU/e8ZL92kDJ6HZdsZuJZacQCZomjLjYsBW+wa+HDyuMwY1FMC\n\
                AwEAAaMcMBowGAYDVR0RBBEwD4INd3d3LmhlYWx0aC5pbzANBgkqhkiG9w0BAQsF\n\
                AANBAMU6Ygy1XO14Kh6IfNotNvunyRdmNeQjGQHsRIOWYEdrmuVCJoFQB9/MtBPJ\n\
                MxtHDPqudFiDDzJErfHDAYvGfZc=\n-----END CERTIFICATE-----\n"
[...]
